<div layout="row" #containerRef>
        <ngx-charts-pie-chart
                [view]="[round(containerRef.offsetWidth / columns), 200]"
                [scheme]="scheme"
                [results]="results"
                [doughnut]="true"
                (window:resize)="onResize($event)"
                [animations]="false"
        >
        </ngx-charts-pie-chart>
        <div layout="column">
                <span>
                        <h3>{{label}}</h3></span>
                        <h2>{{total(results)}} {{unit}}</h2>
                <span>
                         <table class="mat-table">
                              <thead>
                                <tr>
                                  <td class="mat-cell" *ngFor="let i of results">
                                       <span style="font-size: x-large;">{{round(i.value)}} {{unit}}</span>

                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="mat-cell" *ngFor="let i of results; let f = index">
                                      <span layout="column">
                                           <span> <mat-chip style="background:{{scheme.domain[f]}};"></mat-chip> &nbsp;{{i.name}}</span>
                                          <span> {{average(i.value)}} % </span>
                                      </span>
                                  </td>
                                </tr>
                              </tbody>
                         </table>
                </span>
        </div>
</div>
