<div layout="row" #containerRef>
  <!--  <div class="mGraph-wrapper">
        <div #PIEDiv class="mGraph"></div>
    </div>
       -->
    <div echarts [options]="option" class="demo-chart"></div>
  <div layout="column">
                <span>
                        <h3>{{label}}</h3></span>
    <h2>{{total(data)}} {{unit}}</h2>
    <span>
                         <table class="mat-table">
                              <thead>
                                <tr>
                                  <td class="mat-cell" *ngFor="let i of data">
                                       <span style="font-size: x-large;">{{round(i.value)}} {{unit}}</span>

                                  </td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="mat-cell" *ngFor="let i of data; let f = index">
                                      <span layout="column">
                                           <span> <mat-chip style="background:{{scheme.domain[f]}};"></mat-chip> &nbsp;{{i.name}}</span>
                                          <span> {{average(i.value)}} % </span>
                                      </span>
                                  </td>
                                </tr>
                              </tbody>
                         </table>
                </span>
  </div>
</div>

