<div #containerRef id="containerRef">
    <span *ngIf="steps != undefined && steps[0].data != undefined && steps[0].data.length > 1">

    <mat-accordion >
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                     Steps
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-scatter-graph [setData]="steps" [yMin]="0" [yMax]="getMaxE(steps[0].data)" ></app-scatter-graph>
        </mat-expansion-panel>
    </mat-accordion>
    </span>
    <h3>Vitals</h3>
    <span *ngIf="bpOption !== undefined && bpOption.series[0].data !== undefined && bpOption.series[0].data.length > 1">

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Blood Pressure - &nbsp;<b>{{round(getLastE(bpOption.series[0].data))}}/{{round(getLastE(bpOption.series[1].data))}} mmHg</b>
                </mat-panel-title>
                <mat-panel-description>
                     <span *ngIf="(getLastE(bpOption.series[0].data) > 135 || getLastE(bpOption.series[1].data) > 85)">
                            <button mat-flat-button [ngStyle]="getWarning()">High</button>
                         </span>
                     <span *ngIf="(getLastE(bpOption.series[0].data) < 89 || getLastE(bpOption.series[1].data) < 59)">
                            <button mat-flat-button [ngStyle]="getWarning()">Low</button>
                     </span>

                     <span *ngIf="(getLastE(bpOption.series[1].data)- getAvgE(bpOption.series[1].data) > 5) || (getLastE(bpOption.series[0].data) - getAvgE(bpOption.series[0].data) > 5)">
                        <button mat-flat-button [ngStyle]="getInfo()">Overtraining?</button>
                     </span>
                     Average Blood Pressure {{round(getAvgE(bpOption.series[0].data))}}/{{round(getAvgE(bpOption.series[1].data))}} mmHg

                </mat-panel-description>
            </mat-expansion-panel-header>
             <span *ngIf="bpOption !== undefined">
                  <div echarts [options]="bpOption" class="demo-chart" style="height:400px;"></div>
             </span>
        </mat-expansion-panel>
    </span>
    <span *ngIf="hba1cData != undefined">
        <mat-expansion-panel  >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Blood Glucose
                </mat-panel-title>
            </mat-expansion-panel-header>
             <app-scatter-graph [setData]="hba1cData" [yMax]="hba1cMax" [yMin]="hba1cMin"></app-scatter-graph>
        </mat-expansion-panel>
    </span>
    <span *ngIf="spo2Data != undefined && spo2Data[0].data != undefined && spo2Data[0].data.length > 1">
    <mat-expansion-panel (opened)="spo2PanelOpenState = true" (closed)="spo2PanelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                SPO2 - Min &nbsp;<b>{{getLastE(spo2Data[1].data)}} </b> &nbsp;Max &nbsp;<b>{{getLastE(spo2Data[2].data)}} %</b>
            </mat-panel-title>
           <mat-panel-description>
                Average &nbsp;<b>{{round1DP(getAvgE(spo2Data[0].data))}} %</b>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <span *ngIf="spo2PanelOpenState">
            <app-scatter-graph [setData]="spo2Data" [yMax]="spo2Max" [yMin]="spo2Min"></app-scatter-graph>
        </span>
    </mat-expansion-panel>
    </span>
    <span *ngIf="bodyTemp != undefined && bodyTemp[0].data != undefined && bodyTemp[0].data.length > 1">
    <mat-expansion-panel (opened)="bodyTempPanelOpenState = true" (closed)="bodyTempPanelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Body Temperature -&nbsp;<b>{{round1DP(getLastE(bodyTemp[0].data))}} C</b>
            </mat-panel-title>
           <mat-panel-description>
                Average &nbsp;<b>{{round1DP(getAvgE(bodyTemp[0].data))}} C</b>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <span *ngIf="bodyTempPanelOpenState">
            <app-scatter-graph [setData]="bodyTemp" height="300px" [yMin]="getMinE(bodyTemp[0].data)" [yMax]="getMaxE(bodyTemp[0].data)" ></app-scatter-graph>
        </span>
    </mat-expansion-panel>
    </span>
    <span *ngIf="pwv != undefined && pwv[0].data != undefined && pwv[0].data.length > 1">
    <mat-expansion-panel (opened)="pwvPanelOpenState = true" (closed)="pwvPanelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Pulse Wave Velocity -&nbsp;<b>{{round1DP(getLastE(pwv[0].data))}} m/s</b>
            </mat-panel-title>
           <mat-panel-description>
                Average &nbsp;<b>{{round1DP(getAvgE(pwv[0].data))}} m/s</b>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <span *ngIf="pwvPanelOpenState">
            <app-scatter-graph [setData]="pwv" height="300px" [yMin]="getMinE(pwv[0].data)" [yMax]="getMaxE(pwv[0].data)" ></app-scatter-graph>
        </span>
    </mat-expansion-panel>
    </span>
    <span *ngIf="weightData != undefined && weightData[0].data != undefined && weightData[0].data.length > 1">
        <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title >
                Weight - &nbsp;<b>{{round1DP(getLastE(weightData[0].data))}} Kg</b>
            </mat-panel-title>
            <mat-panel-description>
                <span *ngIf="avgWeight > 0">
                         <span *ngIf="(getLastE(weightData[0].data) - avgWeight) > epr.weightWarnHigh">
                            <button mat-flat-button [ngStyle]="getOK()">Full</button>
                         </span>
                          <span *ngIf="(getLastE(weightData[0].data) - avgWeight) < epr.weightWarnLow">
                            <button mat-flat-button [ngStyle]="getWarning()">Refuel & Drink</button>
                         </span>
                         Average Weight {{round1DP(avgWeight)}} Kg
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>
            <app-scatter-graph [setData]="weightData" [yMax]="weightMax" [yMin]="weightMin"></app-scatter-graph>
        </mat-expansion-panel>
         <span *ngIf="bodyComposition != undefined && bodyComposition[0].data != undefined && bodyComposition[0].data.length > 1">
            <mat-expansion-panel (opened)="bodyPanelOpenState = true"
                                 (closed)="bodyPanelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Body Composition
                    </mat-panel-title>
                    <mat-panel-description>


                      <span *ngIf="bodyComposition != undefined && bodyComposition[2].data != undefined">
                           <span *ngIf="(getLastE(bodyComposition[2].data) - getAvgE(bodyComposition[2].data)) < epr.muscleWarnLow">
                            <button mat-flat-button [ngStyle]="getInfo()">Check Carbs Intake</button> Current Muscle Mass is {{round1DP( (getLastE(bodyComposition[2].data) - getAvgE(bodyComposition[2].data)))}} Kg less than average
                         </span>

                    </span>

                      <span *ngIf="bodyComposition != undefined && bodyComposition[3].data != undefined">
                           <span *ngIf="(getLastE(bodyComposition[3].data) - getAvgE(bodyComposition[3].data)) > epr.hydratedWarnHigh">
                            <button mat-flat-button [ngStyle]="getOK()">Hydrated</button>
                         </span>
                          <span *ngIf="(getLastE(bodyComposition[3].data) - getAvgE(bodyComposition[3].data)) < epr.hydratedWarnLow">
                            <button mat-flat-button [ngStyle]="getWarning()">Dehydrated</button> Current Body Water is {{round1DP( (getLastE(bodyComposition[3].data) - getAvgE(bodyComposition[3].data)))}} l less than average
                         </span>

                </span>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <span *ngIf="bodyPanelOpenState">
                     <app-line-chart [setData]="bodyComposition" [yAxis]="yAxisBodyComposition" height="600px"></app-line-chart>
                </span>
            </mat-expansion-panel>
         </span>
    </span>
</div>
