<mat-sidenav-container class="example-container" xmlns="http://www.w3.org/1999/html">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <div class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label >Height</mat-label>
                <input matInput type="number" [(ngModel)]="height" required (ngModelChange)="calculate()">
                <span matSuffix>cm</span>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Age</mat-label>
                <input matInput type="number" min="18" max="120" [(ngModel)]="age" (ngModelChange)="calculate()">
                <span matSuffix>years</span>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Weight</mat-label>
                <input matInput type="number" [(ngModel)]="weight" required (ngModelChange)="calculate()">
                <span matSuffix>kg</span>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Sex</mat-label>
                <mat-select [(ngModel)]="administrativeGender" (ngModelChange)="calculate()">
                    <mat-option *ngFor="let gender of administrativeGenders" [value]="gender">{{gender.display}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Max Heart Rate</mat-label>
                <input matInput type="number" [(ngModel)]="maximumHR" (ngModelChange)="calculate()">
                <span matSuffix>beats/min</span>
                <mat-hint>Strava - My Performance</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Resting Heart Rate</mat-label>
                <input matInput type="number" [(ngModel)]="restingHR" (ngModelChange)="calculate()">
                <span matSuffix>beats/min</span>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>FTP</mat-label>
                <input matInput type="number" [(ngModel)]="ftp" (ngModelChange)="calculate()" disabled>
                <span matSuffix>watts</span>
                <mat-hint>Strava - My Performance</mat-hint>
            </mat-form-field>
        </div>
        <span *ngIf="zoneHR !== undefined  && (this.selectedTabIndex == undefined || this.selectedTabIndex < 2)">
            <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection" >
                <mat-chip-option style="background: lightpink"><span class="material-symbols-outlined">ecg_heart</span>{{zoneHR.z5?.min}}-{{zoneHR.z5?.max}} Z5 - Anerobic</mat-chip-option>
                <mat-chip-option style="background: lightsalmon"><span class="material-symbols-outlined">ecg_heart</span>{{zoneHR.z4?.min}}-{{zoneHR.z4?.max}} Z4 - Threshold</mat-chip-option>
                <mat-chip-option style="background: lightgreen"><span class="material-symbols-outlined">ecg_heart</span>{{zoneHR.z3?.min}}-{{zoneHR.z3?.max}} Z3 - Tempo</mat-chip-option>
                <mat-chip-option style="background: lightblue"><span class="material-symbols-outlined">ecg_heart</span>{{zoneHR.z2?.min}}-{{zoneHR.z2?.max}} Z2 - Endurance</mat-chip-option>
                <mat-chip-option style="background: lightgrey"><span class="material-symbols-outlined">ecg_heart</span> {{zoneHR.z1?.min}}-{{zoneHR.z1?.max}} Z1 - Recovery</mat-chip-option>
            </mat-chip-listbox>
        </span>
        <span *ngIf="zonePWR !== undefined  && (this.selectedTabIndex !== undefined && this.selectedTabIndex > 1)">
            <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection" >
                <mat-chip-option style="background: {{getBackgroundPWRZone(7)}};"><span class="material-symbols-outlined">bolt</span>{{zonePWR.z7?.min}}-{{zonePWR.z7?.max}} Z7 - Neuromuscular </mat-chip-option>
                <mat-chip-option style="background: {{getBackgroundPWRZone(6)}};"><span class="material-symbols-outlined">bolt</span>{{zonePWR.z6?.min}}-{{zonePWR.z6?.max}} Z6 - Anaerobic </mat-chip-option>
                <mat-chip-option style="background: {{getBackgroundPWRZone(5)}};"><span class="material-symbols-outlined">bolt</span>{{zonePWR.z5?.min}}-{{zonePWR.z5?.max}} Z5 - VO2Max </mat-chip-option>
                <mat-chip-option style="background: {{getBackgroundPWRZone(4)}};"><span class="material-symbols-outlined">bolt</span>{{zonePWR.z4?.min}}-{{zonePWR.z4?.max}} Z4 - Threshold</mat-chip-option>
                <mat-chip-option style="background: {{getBackgroundPWRZone(3)}};"><span class="material-symbols-outlined">bolt</span>{{zonePWR.z3?.min}}-{{zonePWR.z3?.max}} Z3 - Tempo</mat-chip-option>
                <mat-chip-option style="background: {{getBackgroundPWRZone(2)}};"><span class="material-symbols-outlined">bolt</span>{{zonePWR.z2?.min}}-{{zonePWR.z2?.max}} Z2 - Endurance</mat-chip-option>
                <mat-chip-option style="background: {{getBackgroundPWRZone(1)}};"><span class="material-symbols-outlined">bolt</span> {{zonePWR.z1?.min}}-{{zonePWR.z1?.max}} Z1 - Active Recovery</mat-chip-option>
            </mat-chip-listbox>
        </span>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar layout-align="space-between center">
            <span>
                <button mat-icon-button (click)="onClick()">
                    <mat-icon>menu</mat-icon>
                </button>
            Physical Activity
            </span>
            <mat-form-field  class="example-third-width">
                <input matInput [matDatepicker]="picker" [(ngModel)]="endDate" (dateChange)="addEvent('change', $event)">

                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-toolbar>
<mat-card xmlns="http://www.w3.org/1999/html">
    <mat-card-content>
    <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectionchange)="tabChanged($event)">
        <mat-tab label="Summary (Energy/kcal)">
            <td-message
                        label="Information"
                        sublabel="This screen is based on US Physical Activity - Time-based Measures"
                        color="primary"
                        icon="info">
                <button td-message-actions mat-button (click)="viewPA()">View More</button>
            </td-message>
            <!--

             NUTRITION

             -->
           <!-- <div class="example-form2" >
                <mat-form-field class="example-half-width">
                    <mat-label>How often do you exercise?</mat-label>
                    <mat-select [(ngModel)]="exerciseFrequency" (ngModelChange)="calculate()">
                        <mat-option *ngFor="let pal of exerciseFrequencies" [value]="pal">{{pal.display}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-half-width">
                    <mat-label>How intense is your exercise?</mat-label>
                    <mat-select [(ngModel)]="exerciseIntense" (ngModelChange)="calculate()">
                        <mat-option *ngFor="let pal of exerciseIntenses" [value]="pal">{{pal.display}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <div class="example-full-width">
                <h3>Energy Intake Estimates</h3>
                <td-message *ngIf="dailyEnergy == undefined || rmr == undefined"
                            label="Information"
                            sublabel="Gender, Height and Weight is required to estimate energy intake."
                            color="primary"
                            icon="info">
                    <button td-message-actions mat-button >View More</button>
                </td-message>
                The estimates are based on activities recorded in Strava.
                <div *ngIf="dailyEnergy !== undefined || rmr !== undefined">
                    <mat-grid-list cols="2" rowHeight="2:1">
                      <mat-grid-tile>
                          <span class="bigger">{{exerciseFrequency?.display}}</span>
                           <ngx-charts-advanced-pie-chart
                                   [view]="viewEnergyPie"
                                   [scheme]="colorScheme"
                                   label="Daily Calorie Needs (kcal)"
                                   [results]="energy"
                                   (window:resize)="onResize($event)"
                           >
                                     </ngx-charts-advanced-pie-chart>
                      </mat-grid-tile>
                        <mat-grid-tile style="background: lightgoldenrodyellow" layout-align="centre ">
                            <span class="bigger">{{exerciseIntense?.display}}</span>
                            <br/>
                            <span *ngIf="exerciseIntense == undefined || exerciseIntense.code === 'very-light'" >
                                    <span class="bigger">{{perKgKCal(3*4)}} -> {{perKgKCal(5*4)}} kcal</span>
                                <br/>
                                 <br/>
                                <small>{{perKgKCal(3)}}-{{perKgKCal(5)}} grams of carbohydrate per day</small>
                            </span>
                            <span *ngIf="exerciseIntense == undefined || exerciseIntense.code === 'moderate'" >
                                 <span class="bigger">{{perKgKCal(5*4)}} -> {{perKgKCal(7*4)}} kcal</span>
                                <br/>
                                 <br/>
                                <small>{{perKgKCal(5)}}-{{perKgKCal(7)}} grams of carbohydrate per day</small>
                            </span>
                            <span *ngIf="exerciseIntense == undefined || exerciseIntense.code === 'moderate-high'" >
                                <span class="bigger">{{perKgKCal(6*4)}} -> {{perKgKCal(10*4)}} kcal</span>
                                <br/>
                                 <br/>
                                <small>{{perKgKCal(6)}}-{{perKgKCal(10)}} grams of carbohydrate per day</small>
                            </span>
                            <span *ngIf="exerciseIntense == undefined || exerciseIntense.code === 'very-high'" >
                                <span class="bigger">{{perKgKCal(8*4)}} -> {{perKgKCal(12*4)}} kcal</span>
                                <br/>
                                 <br/>
                                <small>{{perKgKCal(8)}}-{{perKgKCal(12)}} grams of carbohydrate per day</small>
                            </span>
                        </mat-grid-tile>

                        </mat-grid-list>
                </div>
            </div>

            <app-weekly-graph [dayActivity]="activityArray" ></app-weekly-graph>
            <h3>Activity Summary</h3>
            <app-summary-graph [dayActivity]="activityArray" [zoneHR]="zoneHR"></app-summary-graph>


        </mat-tab>
        <!--

        HEART RATE

        -->
        <mat-tab label="Physical Activity Log (Heart Rate)">
            <td-message
                        label="Information"
                        sublabel="This screen is based on US Physical Activity - Activity-based Measures"
                        color="primary"
                        icon="info">
                <button td-message-actions mat-button (click)="viewPA()">View More</button>
            </td-message>
             <div>
                <table mat-table [dataSource]="dataSourceHR" class="mat-elevation-z8"
                       matSort #hrSort="matSort" (matSortChange)="announceSortChange($event)"
                       matSortActive="date" matSortDirection="desc" matSortDisableClear>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 20%;"> Date </th>
                        <td mat-cell *matCellDef="let activity">
                            <div layout="column" layout-align="space-around start">
                                <b>{{activity.start_date | date: 'dd-MMM-yyyy HH:mm'}}</b>
                                <a href="https://www.strava.com/activities/{{activity.id}}" target="_blank"><span *ngIf="activity.type !== undefined" class="material-symbols-outlined">
                                        {{getType(activity.type)}}
                                </span> </a>
                                <table>
                                    <tr>
                                        <td>Total time</td>
                                        <td><b>{{duration(activity.moving_time/60)}}</b></td>
                                    </tr>
                                    <tr *ngIf="activity.elapsed_time != activity.moving_time">
                                        <td><i>Idle time</i></td>
                                        <td><b><i>{{duration((activity.elapsed_time - activity.moving_time)/60)}}</i></b></td>
                                    </tr>
                                    <tr *ngIf="activity.elapsed_time != activity.moving_time">
                                        <td>Moving time</td>
                                        <td><b>{{duration((activity.elapsed_time)/60)}}</b></td>
                                    </tr>
                                    <tr>
                                        <td>Distance</td>
                                        <td><b>{{round(activity.distance/1000)}} km</b></td>
                                    </tr>
                                    <tr>
                                        <td>Elevation</td>
                                        <td><b>{{round(activity.total_elevation_gain)}} m</b></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="heart">
                        <th mat-header-cell *matHeaderCellDef style="width: 80%;"> </th>
                        <td mat-cell *matCellDef="let activity">
                            <h3>{{activity.name}}</h3>
                            <br/>
                            <app-heart-graph [activity]="activity"></app-heart-graph>
                            <hr/>
                            <table>
                                <tr>
                                    <td style="display: flex; justify-content: flex-end"><span class="material-symbols-outlined">local_pizza</span> Energy</td>
                                    <td><b>{{round(activity.kcal)}} kcal</b></td>
                                    <td style="display: flex; justify-content: flex-end"><span class="material-symbols-outlined">ecg_heart</span> Average Heart Rate</td>
                                    <td > <mat-chip style="background: {{getBackgroundHR(activity.average_heartrate)}}; width: 50px" layout-align="center">
                                        {{round(activity.average_heartrate)}}</mat-chip> &nbsp; <b>bpm</b>
                                    </td>
                                    <td style="display: flex; justify-content: flex-end"><span class="material-symbols-outlined">ecg_heart</span> Max Heart Rate</td>
                                    <td >
                                        <mat-chip style="background: {{getBackgroundHR(activity.max_heartrate)}}; width: 50px" layout-align="center">
                                            {{round(activity.max_heartrate)}}</mat-chip> &nbsp; <b>bpm</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="display: flex; justify-content: flex-end"><span *ngIf="activity.trimp !== undefined">
                                    TRaining IMPulse (TRIMP)
                             </span></td>
                                    <td>
                                        <span *ngIf="activity.trimp !== undefined">
                                        <b>{{round(activity.trimp)}}</b>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </ng-container>




                    <tr mat-header-row *matHeaderRowDef="displayedColumnsHR; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsHR;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="7">No data matching the filter </td>
                    </tr>
                </table>
             </div>
                <mat-paginator #paginatorHR [pageSizeOptions]="[6,12,18]" showFirstLastButtons></mat-paginator>
        </mat-tab>
        <mat-tab *ngIf="hasPowerData" label="Physical Activity Log (Power)">
            <td-message
                    label="Information"
                    sublabel="For detailed breakdown of power data see power-meter.cc"
                    color="primary"
                    icon="info">
                <button td-message-actions mat-button (click)="viewPower()">Power-Meter.cc</button>
            </td-message>

            <h3>Activity Logs</h3>
            <div>
            <table mat-table [dataSource]="dataSourceKJ" class="mat-elevation-z8"
                   matSort #pwrSort="matSort" (matSortChange)="announceSortChange($event)"
                   matSortActive="date" matSortDirection="desc" matSortDisableClear>

                <ng-container matColumnDef="date">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let activity">

                        <div layout="column" layout-align="space-around start">
                            <b>{{activity.start_date | date: 'dd-MMM-yyyy HH:mm'}}</b>
                            <a href="https://www.strava.com/activities/{{activity.id}}" target="_blank"><span *ngIf="activity.type !== undefined" class="material-symbols-outlined">
                                        {{getType(activity.type)}}
                                </span> </a>
                            <table>
                                <tr>
                                    <td>Total time</td>
                                    <td><b>{{duration(activity.moving_time/60)}}</b></td>
                                </tr>
                                <tr *ngIf="activity.elapsed_time != activity.moving_time">
                                    <td><i>Idle time</i></td>
                                    <td><b><i>{{duration((activity.elapsed_time - activity.moving_time)/60)}}</i></b></td>
                                </tr>
                                <tr *ngIf="activity.elapsed_time != activity.moving_time">
                                    <td>Moving time</td>
                                    <td><b>{{duration((activity.elapsed_time)/60)}}</b></td>
                                </tr>
                                <tr>
                                    <td>Distance</td>
                                    <td><b>{{round(activity.distance/1000)}} km</b></td>
                                </tr>
                                <tr>
                                    <td>Elevation</td>
                                    <td><b>{{round(activity.total_elevation_gain)}} m</b></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="power">
                    <th mat-header-cell *matHeaderCellDef > </th>
                    <td mat-cell *matCellDef="let activity">
                         <h3>{{activity.name}}</h3>
                        <br/>
                        <app-power-graph [activity]="activity"></app-power-graph>
                        <hr/>
                        <table>
                            <tr>
                                <td style="display: flex; justify-content: flex-end"><span class="material-symbols-outlined">local_pizza</span> Energy</td>
                                <td><b>{{round(activity.kcal)}} kcal</b></td>
                                <td style="display: flex; justify-content: flex-end"><span class="material-symbols-outlined">ecg_heart</span> Avg. Heart Rate</td>
                                <td >  <mat-chip style="background: {{getBackgroundHR(activity.average_heartrate)}}; width: 50px" layout-align="center">
                                    {{round(activity.average_heartrate)}}</mat-chip> &nbsp; <b>bpm</b>

                                </td>
                                <td style="display: flex; justify-content: flex-end"><span class="material-symbols-outlined">ecg_heart</span> Max. Heart Rate</td>
                                <td >
                                    <mat-chip style="background: {{getBackgroundHR(activity.max_heartrate)}}; width: 50px" layout-align="center">
                                        {{round(activity.max_heartrate)}}</mat-chip> &nbsp; <b>bpm</b>
                                </td>
                            </tr>
                            <tr *ngIf="activity.weighted_average_watts !== undefined">
                                <td style="display: flex; justify-content: flex-end"><span class="material-symbols-outlined">bolt</span>
                                    Average Power</td>
                                <td><b>
                                    {{round(activity.weighted_average_watts)}}
                                    Watts</b>
                                </td>
                                <td style="display: flex; justify-content: flex-end">
                                    Intensity
                                </td>
                                <td>
                                    <b>{{intensity(activity)}}%</b>
                                </td>
                                <td style="display: flex; justify-content: flex-end">
                                    Training Load
                                </td>
                                <td>
                                    <b>{{stress(activity)}}</b>
                                </td>
                            </tr>
                            <tr *ngIf="activity.np !== undefined">
                                <td style="display: flex; justify-content: flex-end" [matTooltip]="registered"><span class="material-symbols-outlined">bolt</span>
                                    Normalized Power®</td>
                                <td><mat-chip style="background: {{getBackgroundPWRColor(activity.np)}}; width: 50px" layout-align="center">
                                    {{round(activity.np)}}
                                </mat-chip>
                                    &nbsp;<b>Watts</b>
                                </td>
                                <td style="display: flex; justify-content: flex-end" [matTooltip]="registered">
                                    Intensity Factor®
                                </td>
                                <td>
                                    <b>{{intensityFactor(activity)}}%</b>
                                </td>
                                <td style="display: flex; justify-content: flex-end" [matTooltip]="registered">
                                    Training Stress
                                </td>
                                <td>
                                    <mat-chip style="background: {{getBackgroundTSS(activity)}}; width: 50px" matTooltip="< 150 recovery under a day.
                                     < 300 recovered by 2nd day.
                                     < 450 recovered after the 2nd day.
                                     > 450 recovery may be longer.">
                                        {{stressTraining(activity)}}</mat-chip>
                                </td>
                            </tr>
                            <tr *ngIf="activity !== undefined ">
                                <td style="display: flex; justify-content: flex-end"><span *ngIf="activity.average_cadence !== undefined">
                                    Cadence
                             </span></td>
                                <td>
                                        <span *ngIf="activity.average_cadence !== undefined">
                                        <b>{{round(activity.average_cadence)}} rpm</b>
                                        </span>
                                </td>
                                <td></td>
                                <td></td>
                                <td style="display: flex; justify-content: flex-end">
                                    <span *ngIf="activity.np !== undefined" >Ride Variability Index</span></td>
                                <td>
                                    <span *ngIf="activity.np !== undefined"><b matTooltip="This is measure of how smooth the ride was. A value close to 1 is consistent riding with low variation of power output which you would get on Zwift or a flat ride. Rolling terrain, hills or a inconsistent ride (stopping for traffic) will create more variability.">{{round(activity.np * 100/ activity.average_watts)/100}}</b></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsKJ; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsKJ;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="7">No data matching the filter </td>
                </tr>
            </table>
            </div>
            <mat-paginator #paginatorKJ [pageSizeOptions]="[6,12,18]" showFirstLastButtons></mat-paginator>
        </mat-tab>

    </mat-tab-group>


    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="calculate()" disabled>Share with NHS or Other Practitioner</button>
    </mat-card-actions>

</mat-card>
        </mat-sidenav-content>
</mat-sidenav-container>

