<mat-sidenav-container class="example-container" xmlns="http://www.w3.org/1999/html">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <div class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label >Height</mat-label>
                <input matInput type="number" [(ngModel)]="height" required (ngModelChange)="calculate()">
                <span matSuffix>cm</span>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Age</mat-label>
                <input matInput type="number" min="18" max="120" [(ngModel)]="age" (ngModelChange)="calculate()">
                <span matSuffix>years</span>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Weight</mat-label>
                <input matInput type="number" [(ngModel)]="weight" required (ngModelChange)="calculate()">
                <span matSuffix>kg</span>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Sex</mat-label>
                <mat-select [(ngModel)]="administrativeGender" (ngModelChange)="calculate()">
                    <mat-option *ngFor="let gender of administrativeGenders" [value]="gender">{{gender.display}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>How often do you exercise?</mat-label>
                <mat-select [(ngModel)]="exerciseFrequency" (ngModelChange)="calculate()">
                    <mat-option *ngFor="let pal of exerciseFrequencies" [value]="pal">{{pal.display}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>How intense is your exercise?</mat-label>
                <mat-select [(ngModel)]="exerciseIntense" (ngModelChange)="calculate()">
                    <mat-option *ngFor="let pal of exerciseIntenses" [value]="pal">{{pal.display}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection" *ngIf="zoneHR !== undefined">
                Maximum heart rate <span *ngIf="zoneHR.calculated">(calculated)</span><span *ngIf="!zoneHR.calculated">(strava)</span> =  {{zoneHR.maximumHR}}
            <mat-chip-option style="background: lightpink"><span class="material-symbols-outlined">
ecg_heart
            </span>{{zoneHR.z5?.min}}-{{zoneHR.z5?.max}} Z5 - Anerobic</mat-chip-option>
                 <mat-chip-option style="background: lightsalmon"><span class="material-symbols-outlined">
ecg_heart
</span>{{zoneHR.z4?.min}}-{{zoneHR.z4?.max}} Z4 - Threshold</mat-chip-option>
                 <mat-chip-option style="background: lightgreen"><span class="material-symbols-outlined">
ecg_heart
</span>{{zoneHR.z3?.min}}-{{zoneHR.z3?.max}} Z3 - Tempo</mat-chip-option>
                 <mat-chip-option style="background: lightblue"><span class="material-symbols-outlined">
ecg_heart
</span>{{zoneHR.z2?.min}}-{{zoneHR.z2?.max}} Z2 - Endurance</mat-chip-option>
                <mat-chip-option style="background: lightgrey"><span class="material-symbols-outlined">
ecg_heart
</span> {{zoneHR.z1?.min}}-{{zoneHR.z1?.max}} Z1 - Recovery</mat-chip-option>
        </mat-chip-listbox>

    </mat-sidenav>
    <mat-sidenav-content>
<mat-card xmlns="http://www.w3.org/1999/html">
    <mat-card-content>
    <mat-tab-group>
        <mat-tab label="Nutrition and Activity Summary">
            <td-message
                        label="Information"
                        sublabel="This screen is based on US Physical Activity - Time-based Measures"
                        color="primary"
                        icon="info">
                <button td-message-actions mat-button (click)="viewPA()">View More</button>
            </td-message>
            <mat-grid-list cols="7" rowHeight="30px">

                <mat-grid-tile>{{dayOfWeek(0)}}</mat-grid-tile>
                <mat-grid-tile>{{dayOfWeek(1)}}</mat-grid-tile>
                <mat-grid-tile>{{dayOfWeek(2)}}</mat-grid-tile>
                <mat-grid-tile>{{dayOfWeek(3)}}</mat-grid-tile>
                <mat-grid-tile>{{dayOfWeek(4)}}</mat-grid-tile>
                <mat-grid-tile>{{dayOfWeek(5)}}</mat-grid-tile>
                <mat-grid-tile>{{dayOfWeek(6)}}</mat-grid-tile>
            </mat-grid-list>
                    <mat-grid-list cols="7" rowHeight="110px">

                        <span *ngFor="let activity of activityArray">
                        <mat-grid-tile *ngIf="activity.kcal >0"  [matTooltip]="getNames(activity)" >

                            <span *ngIf="activity.kcal>0" layout-align="center center">

                                    <mat-chip style="background: {{getBackground(activity.average_heartrate)}};">
                                          <span class="material-symbols-outlined">
                                        timer
                                        </span>
                                        {{round(activity.duration/60)}} min
                                    </mat-chip>


                                <br/>
                                 <span *ngFor="let act of activity.sessions">
                                     <span *ngIf="act.type !== undefined" class="material-symbols-outlined">
                                    {{getType(act.type)}}
                                    </span>
                                </span>
                                <br/>
                                <span *ngFor="let pizza of pizza(activity.kcal)">
                                    <mat-icon>local_pizza</mat-icon>
                                </span>
                                <span> {{activity.kcal}} kcal</span>
                            </span>

                           <!-- <br/>
                            <span *ngIf="activity.hr_avg !== undefined">
                                                   <span class="material-symbols-outlined">
ecg_heart
</span>
                                {{round(activity.hr_avg)}} <span *ngIf="activity.hr_max !== undefined">(max {{activity.hr_max}})</span>

                            </span> -->

                        </mat-grid-tile >
                            <mat-grid-tile *ngIf="activity.kcal === 0">
                            </mat-grid-tile>
                        </span>
                    </mat-grid-list>
            <!--

   NUTRITION

   -->

            <div class="example-full-width">
                <h3>Energy</h3>
                <td-message *ngIf="dailyEnergy == undefined || rmr == undefined"
                            label="Information"
                            sublabel="Gender, Height and Weight is required to estimate energy intake."
                            color="primary"
                            icon="info">
                    <button td-message-actions mat-button >View More</button>
                </td-message>
                <table *ngIf="dailyEnergy !== undefined || rmr !== undefined" class="mat-elevation-z8">
                    <tr>
                        <th></th>
                        <th>Energy (kcal)</th>
                        <th></th>
                    </tr>
                    <tr *ngIf="rmr !== undefined">
                        <td>Resting Metabolic Rate</td>
                        <td> {{round(rmr)}} kcal</td>
                        <td><span *ngFor="let pizza of pizza(rmr)">
                                <mat-icon>local_pizza</mat-icon>
                            </span></td>
                    </tr>
                    <tr *ngIf="dailyEnergy !== undefined && rmr !== undefined">
                        <td>Daily Calorie Needs - {{exerciseFrequency?.display}}</td>
                        <td>{{round(dailyEnergy)}} kcal</td>
                        <td><span *ngFor="let pizza of pizza(rmr)">
                                <mat-icon>local_pizza</mat-icon>
                            </span>
                            <span *ngFor="let pizza of pizza(dailyEnergy-rmr)">
                                <mat-icon color="accent">local_pizza</mat-icon>
                            </span></td>
                    </tr>
                </table>
            </div>
            <div class="example-full-width">
                    <span *ngIf="weight !== undefined">
                    <h3>Daily Carbohydate Intake</h3>
                    <table class="mat-elevation-z8" >
                        <tr>
                            <th>Activity Level</th>
                            <th>Recommended Carbohydrate Intake (g/kg BW)</th>
                             <th>Recommended Energy (kcal)</th>
                            <th>Recommended Carbohydrate Intake (g)</th>
                            <th></th>
                        </tr>
                        <tr *ngIf="exerciseIntense == undefined || exerciseIntense.code === 'very-light'" >
                            <td>Very Light Training (low-intensity or skill-based exercise)</td>
                            <td>3-5 g/kg BW daily</td>
                            <td>{{perKgKCal(3*4)}}-{{perKgKCal(5*4)}} kcal</td>
                            <td>{{perKgKCal(3)}}-{{perKgKCal(5)}} g </td>
                             <td>
                                <span *ngFor="let pizza of pizza(perKgKCal(4*4))">
                                    <mat-icon>local_pizza</mat-icon>
                                </span>
                            </td>
                        </tr>
                        <tr *ngIf="exerciseIntense == undefined || exerciseIntense.code === 'moderate'">
                            <td>Moderate-intensity training (approx. 1 h daily)</td>
                            <td>5-7 g/kg BW daily</td>
                             <td>{{perKgKCal(5*4)}}-{{perKgKCal(7*4)}} kcal</td>
                            <td>{{perKgKCal(5)}}-{{perKgKCal(7)}} g</td>
                            <td>
                                <span *ngFor="let pizza of pizza(perKgKCal(4*4))">
                                    <mat-icon>local_pizza</mat-icon>
                                </span>
                                <span *ngFor="let pizza of pizza(perKgKCal(2*4))">
                                    <mat-icon color="accent">local_pizza</mat-icon>
                                </span>
                            </td>
                        </tr>
                        <tr *ngIf="exerciseIntense == undefined || exerciseIntense.code === 'moderate-high'">
                            <td>Moderate-high-intensity training (approx. 1-3 h daily)</td>
                            <td>6-10 g/kg BW daily</td>
                             <td>{{perKgKCal(6*4)}}-{{perKgKCal(10*4)}} kcal</td>
                            <td>{{perKgKCal(6)}}-{{perKgKCal(10)}} g</td>
                            <td>
                                <span *ngFor="let pizza of pizza(perKgKCal(4*4))">
                                    <mat-icon>local_pizza</mat-icon>
                                </span>
                                 <span *ngFor="let pizza of pizza(perKgKCal(4*4))">
                                    <mat-icon color="accent">local_pizza</mat-icon>
                                </span>
                            </td>
                        </tr>
                        <tr *ngIf="exerciseIntense == undefined || exerciseIntense.code === 'very-high'">
                            <td>Very high-intensity training (> 4 h daily)</td>
                            <td>8-12 g/kg BW daily</td>
                             <td>{{perKgKCal(8*4)}}-{{perKgKCal(12*4)}} kcal</td>
                            <td>{{perKgKCal(8)}}-{{perKgKCal(12)}} g </td>
                             <td>
                                <span *ngFor="let pizza of pizza(perKgKCal(4*4))">
                                    <mat-icon>local_pizza</mat-icon>
                                </span>
                                  <span *ngFor="let pizza of pizza(perKgKCal(6*4))">
                                    <mat-icon color="accent">local_pizza</mat-icon>
                                </span>
                            </td>
                        </tr>
                    </table>
                        </span>
            </div>
            <h3>Weekly Activity Rates</h3>
            <table mat-table [dataSource]="dataSourceWeek" class="mat-elevation-z8">

                <ng-container matColumnDef="kJ">
                    <th mat-header-cell *matHeaderCellDef > Avg kcal</th>
                    <td mat-cell *matCellDef="let week">

                        {{round(week.avg_kcal)}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="week">
                    <th mat-header-cell  *matHeaderCellDef> Week </th>
                    <td mat-cell *matCellDef="let week">
                        {{week.week}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="duration">
                    <th mat-header-cell  *matHeaderCellDef> Duration </th>
                    <td mat-cell *matCellDef="let week">
                        {{round(week.avg_duration/60)}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="hr">
                    <th mat-header-cell  *matHeaderCellDef> Max HR </th>
                    <td mat-cell *matCellDef="let week">
                        {{round(week.hr_max)}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="activeDay">
                    <th mat-header-cell  *matHeaderCellDef> Active Days </th>
                    <td mat-cell *matCellDef="let week">
                        {{round(week.num_activities)}}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsWeek"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsWeek;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="7">No data matching the filter </td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab label="Physical Activity Detail (HR)">
            <td-message
                        label="Information"
                        sublabel="This screen is based on US Physical Activity - Activity-based Measures"
                        color="primary"
                        icon="info">
                <button td-message-actions mat-button (click)="viewPA()">View More</button>
            </td-message>

                <table mat-table [dataSource]="dataSourceHR" class="mat-elevation-z8"
                       matSort (matSortChange)="announceSortChange($event)"
                       matSortActive="date" matSortDirection="desc" matSortDisableClear>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let activity">
                            {{activity.start_date | date: 'dd-MMM-yyyy HH:mm'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="type">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 5%;"> Type </th>
                        <td mat-cell *matCellDef="let activity" [matTooltip]="activity.name">
                            <a href="https://www.strava.com/activities/{{activity.id}}" target="_blank"><span *ngIf="activity.type !== undefined" class="material-symbols-outlined">
                                    {{getType(activity.type)}}
                            </span></a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="link">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 5%;"> Link </th>
                        <td mat-cell *matCellDef="let activity">
                            <a href="https://www.strava.com/activities/{{activity.id}}" target="_blank"><mat-icon>open_in_new</mat-icon></a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 20%;"> Name </th>
                        <td mat-cell *matCellDef="let activity">
                            {{activity.name}}
                            <a href="https://www.strava.com/activities/{{activity.id}}" target="_blank"><mat-icon>open_in_new</mat-icon></a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="heart">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 20%;"> HR Zones </th>
                        <td mat-cell *matCellDef="let activity">
                            <app-heart-graph [activity]="activity"></app-heart-graph>
                       </td>
                    </ng-container>
                    <!--
                    <ng-container matColumnDef="Z1">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef  style="width: 12%;background: lightgrey"> Z1 </th>
                        <td mat-cell *matCellDef="let activity">
                             <span *ngIf="getZoneHRDuration(activity,1); let zoneDuration">
                                <mat-progress-bar mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                                 {{round(zoneDuration/60)}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Z2">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 12%;background: lightblue"> Z2 </th>
                        <td mat-cell *matCellDef="let activity">
                            <span *ngIf="getZoneHRDuration(activity,2); let zoneDuration">
                                <mat-progress-bar class="green-progress" color="warn" mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                                {{round(zoneDuration/60)}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Z3">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 12%;background: lightgreen"> Z3 </th>
                        <td mat-cell *matCellDef="let activity">
                            <span *ngIf="getZoneHRDuration(activity,3); let zoneDuration">
                                <mat-progress-bar color="warn" mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                                {{round(zoneDuration/60)}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Z4">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 12%;background: lightsalmon"> Z4 </th>
                        <td mat-cell *matCellDef="let activity">
                            <span *ngIf="getZoneHRDuration(activity,4); let zoneDuration">
                                <mat-progress-bar color="accent" mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                                {{round(zoneDuration/60)}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Z5">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 12%; background: lightpink"> Z5 </th>
                        <td mat-cell *matCellDef="let activity">
                             <span *ngIf="getZoneHRDuration(activity,5); let zoneDuration">
                                <mat-progress-bar color="accent" mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                                 {{round(zoneDuration/60)}}</span>
                        </td>
                    </ng-container>
                    -->
                    <ng-container matColumnDef="duration">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Duration </th>
                        <td mat-cell *matCellDef="let activity">
                            {{round(activity.elapsed_time/60)}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="avghr">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 5%;"> Avg.  <span class="material-symbols-outlined">
ecg_heart
</span> </th>
                        <td mat-cell *matCellDef="let activity">
                            <mat-chip style="background: {{getBackground(activity.average_heartrate)}}; width: 100px" layout-align="center">
                                {{round(activity.average_heartrate)}}
                            </mat-chip>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="peakhr">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Max. <span class="material-symbols-outlined">
ecg_heart
</span> </th>
                        <td mat-cell *matCellDef="let activity">
                            <mat-chip style="background: {{getBackground(activity.max_heartrate)}}; width: 100px" layout-align="center">
                                {{round(activity.max_heartrate)}}
                            </mat-chip>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="kcal">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> kcal <span class="material-symbols-outlined">
bolt
</span> </th>
                        <td mat-cell *matCellDef="let activity">
                            {{round(activity.kcal)}}
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumnsHR"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsHR;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="7">No data matching the filter </td>
                    </tr>
                </table>
                <mat-paginator #paginatorHR [pageSizeOptions]="[6,12,18]" showFirstLastButtons></mat-paginator>
        </mat-tab>
        <mat-tab *ngIf="hasPowerData" label="Physical Activity Detail (Power)">
            <td-message
                        label="Information"
                        sublabel="For detailed breakdown of power data see power-meter.cc"
                        color="primary"
                        icon="info">
                <button td-message-actions mat-button (click)="viewPower()">Power-Meter.cc</button>
            </td-message>
            <table mat-table [dataSource]="dataSourceKJ" class="mat-elevation-z8"
                   matSort (matSortChange)="announceSortChange($event)"
                   matSortActive="date" matSortDirection="desc" matSortDisableClear>

                <ng-container matColumnDef="date">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let activity">
                        {{activity.start_date | date: 'dd-MMM-yyyy HH:mm'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 5%;"> Type </th>
                    <td mat-cell *matCellDef="let activity" [matTooltip]="activity.name">
                        <a href="https://www.strava.com/activities/{{activity.id}}" target="_blank"><span *ngIf="activity.type !== undefined" class="material-symbols-outlined">
                                    {{getType(activity.type)}}
                            </span></a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="link">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 5%;"> Link </th>
                    <td mat-cell *matCellDef="let activity">
                        <a href="https://www.strava.com/activities/{{activity.id}}" target="_blank"><mat-icon>open_in_new</mat-icon></a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="power">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef > Power (W) </th>
                    <td mat-cell *matCellDef="let activity">
                        <app-power-graph [activity]="activity"></app-power-graph>
                    </td>
                </ng-container>
<!--
                <ng-container matColumnDef="z1">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef > 0-50 </th>
                    <td mat-cell *matCellDef="let activity">
                             <span *ngIf="getZoneKJDuration(activity,1); let zoneDuration">
                                <mat-progress-bar mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                                 {{round(zoneDuration/60)}} {{round(zoneDuration*100/activity.elapsed_time)}}%</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="z2">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef > 50-100 </th>
                    <td mat-cell *matCellDef="let activity">
                             <span *ngIf="getZoneKJDuration(activity,2); let zoneDuration">
                                <mat-progress-bar mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                                 {{round(zoneDuration*100/activity.elapsed_time)}}%</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="z3">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef > 100-150 </th>
                    <td mat-cell *matCellDef="let activity">
                             <span *ngIf="getZoneKJDuration(activity,3); let zoneDuration">
                                <mat-progress-bar mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                                 {{round(zoneDuration*100/activity.elapsed_time)}}%</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="z4">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef > 150-200 </th>
                    <td mat-cell *matCellDef="let activity">
                             <span *ngIf="getZoneKJDuration(activity,4); let zoneDuration">
                                <mat-progress-bar mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                                 {{round(zoneDuration*100/activity.elapsed_time)}}%</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="z5">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef > 200-250 </th>
                    <td mat-cell *matCellDef="let activity">
                             <span *ngIf="getZoneKJDuration(activity,5); let zoneDuration">
                                <mat-progress-bar mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                                  {{round(zoneDuration*100/activity.elapsed_time)}}%</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="z6">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef > 250-300 </th>
                    <td mat-cell *matCellDef="let activity">
                             <span *ngIf="getZoneKJDuration(activity,6); let zoneDuration">
                                <mat-progress-bar mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                                  {{round(zoneDuration*100/activity.elapsed_time)}}%</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="z7">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef > 300-350 </th>
                    <td mat-cell *matCellDef="let activity">
                             <span *ngIf="getZoneKJDuration(activity,7); let zoneDuration">
                                <mat-progress-bar mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                                  {{round(zoneDuration*100/activity.elapsed_time)}}%</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="z8">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef > 350-400 </th>
                    <td mat-cell *matCellDef="let activity">
                             <span *ngIf="getZoneKJDuration(activity,8); let zoneDuration">
                                <mat-progress-bar mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                               {{round(zoneDuration*100/activity.elapsed_time)}}%</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="z9">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef > 400-450 </th>
                    <td mat-cell *matCellDef="let activity">
                             <span *ngIf="getZoneKJDuration(activity,9); let zoneDuration">
                                <mat-progress-bar mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                                  {{round(zoneDuration*100/activity.elapsed_time)}}%</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="z10">
                <th mat-header-cell mat-sort-header *matHeaderCellDef > 450+ </th>
                <td mat-cell *matCellDef="let activity">
                             <span *ngIf="getZoneKJDuration(activity,10); let zoneDuration">
                                <mat-progress-bar mode="determinate" value="{{100*(zoneDuration/activity.elapsed_time)}}"></mat-progress-bar>
                                  {{round(zoneDuration*100/activity.elapsed_time)}}%</span>
                </td>
                </ng-container>
                -->
                <ng-container matColumnDef="kJ">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef > Work (kJ) </th>
                    <td mat-cell *matCellDef="let activity">

                                 {{activity.kilojoules}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="duration">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Duration </th>
                    <td mat-cell *matCellDef="let activity">
                        {{round(activity.elapsed_time/60)}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="ratio">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Work Rate </th>
                    <td mat-cell *matCellDef="let activity">
                        {{round((activity.kilojoules *60)/activity.elapsed_time)}}
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumnsKJ"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsKJ;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="7">No data matching the filter </td>
                </tr>
            </table>
            <mat-paginator #paginatorKJ [pageSizeOptions]="[6,12,18]" showFirstLastButtons></mat-paginator>
        </mat-tab>
    </mat-tab-group>


    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="calculate()" disabled>Share with NHS or Other Practitioner</button>
    </mat-card-actions>

</mat-card>
        </mat-sidenav-content>
</mat-sidenav-container>

