<mat-sidenav-container class="example-container" xmlns="http://www.w3.org/1999/html">
    <mat-sidenav #sidenav mode="side" opened="false">
        <div class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>FTP</mat-label>
                <input matInput type="number" [(ngModel)]="ftp" (ngModelChange)="calculate()" disabled>
                <span matSuffix>watts</span>
                <mat-hint>Strava - My Performance</mat-hint>
            </mat-form-field>
        </div>


    </mat-sidenav>
    <mat-sidenav-content>
<mat-card xmlns="http://www.w3.org/1999/html">
    <mat-card-content>
    <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectionchange)="tabChanged($event)">
        <mat-tab label="Summary">
            <span *ngIf="selectedTabIndex === undefined || selectedTabIndex === 0">
            <td-message
                        label="Information"
                        sublabel="This screen is based on US Physical Activity - Time-based Measures"
                        color="primary"
                        icon="info">
                <button td-message-actions mat-button (click)="viewPA()">View More</button>
            </td-message>
            <!--

             Energy Intake estimates

             -->

            <div class="example-full-width">
                <h3>Energy Intake Estimates</h3>
                <td-message *ngIf="dailyEnergy == undefined || rmr == undefined"
                            label="Information"
                            sublabel="Gender, Height and Weight is required to estimate energy intake."
                            color="primary"
                            icon="info">
                    <button td-message-actions mat-button >View More</button>
                </td-message>
                The estimates are based on activities recorded in Strava.
                <div *ngIf="dailyEnergy !== undefined || rmr !== undefined">
                    <mat-grid-list cols="2" rowHeight="2:1">
                      <mat-grid-tile>
                          <span class="bigger">{{exerciseFrequency?.display}}</span>
                           <app-pie-chart-plus
                                   [view]="viewEnergyPie"
                                   [scheme]="colorScheme"
                                   [columns]="3"
                                   label="Daily Calorie Needs"
                                   unit="kcal"
                                   [results]="energy"
                           >
                           </app-pie-chart-plus>
                      </mat-grid-tile>
                        <mat-grid-tile layout-align="centre ">
                            <span class="bigger">{{exerciseIntense?.display}}</span>
                            <br/>
                            <span *ngIf="exerciseIntense !== undefined && exerciseEnergyOption !== undefined">
                                <div layout="row" #containerRef>
                                    <span>
                                        <span class="bigger">Daily Carbohydrate</span>
                                        <br/>
                                        <span class="bigger">Intake (grams)</span>
                                    </span>
                                    <div echarts [options]="exerciseEnergyOption" class="demo-chart" style="height:150px;width:150px"></div>

                                </div>
                            </span>
                        </mat-grid-tile>

                        </mat-grid-list>
                </div>
            </div>
            <!--

            Energy summary bar chart

            -->
            <app-summary-graph  [dayActivity]="activityArray" [zoneHR]="zoneHR"></app-summary-graph>
            <span *ngIf="stacked !== undefined && stacked.length>0" #containerRef>
                    <mat-expansion-panel *ngFor="let pie of getStacked()">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Week {{pie.name}}
                            </mat-panel-title>
                            <mat-panel-description>
                               Average {{round(totalPie(pie.series)/getDays(pie.name))}} kcal per day
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                             <app-pie-chart-plus
                                     [view]="[containerRef.offsetWidth, 200]"
                                     [columns]="5"
                                     [scheme]="colorStacked"
                                     label="Exercise energy - Heart Rate Zone (Average for Activity)"
                                     unit="kcal"
                                     [results]="pie.series">
                                </app-pie-chart-plus>
                    </mat-expansion-panel>

            </span>
            <!--

            Body Measures

            -->
            <span *ngIf="sleepMeasures.length>1">
                <app-sleep [measures]="sleepMeasures"></app-sleep>
            </span>
            <span *ngIf="bodyMeasures.length>1">
                <app-body-measures [observations]="bodyMeasures" [activities]="activities"></app-body-measures>
            </span>
            </span>
        </mat-tab>
        <!--

        HEART RATE

        -->
        <mat-tab label="Heart Rate">
                    <span *ngIf="selectedTabIndex !== undefined && selectedTabIndex === 1">
            <td-message
                        label="Information"
                        sublabel="This screen is based on US Physical Activity - Activity-based Measures"
                        color="primary"
                        icon="info">
                <button td-message-actions mat-button (click)="viewPA()">View More</button>
            </td-message>
            <app-summary-graph  [dayActivity]="activityArray" [zoneHR]="zoneHR" type="heart"></app-summary-graph>
            <span *ngIf="stacked !== undefined && stacked.length>0" #containerRef>

                    <h3>Heart Rate</h3>

                    <mat-expansion-panel *ngFor="let pie of getStacked(); let i = index" (opened)="heartPanelOpenState[i] = true"
                                         (closed)="heartPanelOpenState[i] = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Week {{pie.name}}
                            </mat-panel-title>
                            <mat-panel-description>
                                <span *ngIf="pie.hr !== undefined">
                                Average Duration {{round(totalPie(pie.hr)/getDays(pie.name))}} mins per day. Average TRIMP {{getAvg(pie.name,'trimp')}} score
                                </span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                           <span *ngIf="pie.hr !== undefined && heartPanelOpenState[i]">
                                     <app-pie-chart-plus
                                             [view]="[containerRef.offsetWidth, 200]"
                                             [columns]="5"
                                             [scheme]="colorStacked"
                                             label="Exercise duration - Heart Rate Zone"
                                             unit="min"
                                             [results]="pie.hr"
                                     >
                                    </app-pie-chart-plus>
                                </span>
                    </mat-expansion-panel>

            </span>
             <div>
                <table mat-table [dataSource]="dataSourceHR" class="mat-elevation-z8"
                       matSort #hrSort="matSort" (matSortChange)="announceSortChange($event)"
                       matSortActive="date" matSortDirection="desc" matSortDisableClear>

                    <ng-container matColumnDef="dateo">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 20%;"> Date </th>
                        <td mat-cell *matCellDef="let activity">
                            <div layout="column" layout-align="space-around start">
                                <b>{{activity.start_date | date: 'dd-MMM-yyyy HH:mm'}}</b>

                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell  mat-sort-header *matHeaderCellDef style="width: 80%;"> Date </th>
                        <td mat-cell *matCellDef="let activity">
                            <mat-expansion-panel [expanded]="false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <a *ngIf="activity.type !== undefined" mat-icon-button color="primary" href="https://www.strava.com/activities/{{activity.id}}" target="_blank">
                                            <span class="material-symbols-outlined">{{getType(activity.type)}}</span>
                                        </a>
                                        {{getWeekNumberD(activity.start_date)}}&nbsp; <b>{{activity.start_date | date: 'dd-MMM-yyyy HH:mm'}}</b>
                                        &nbsp;
                                        <span *ngIf="activity.trimp !== undefined">
                                            <mat-chip style="background: {{getBackgroundTrimp(activity.trimp)}}; width: 50px" layout-align="center">
                                            {{round(activity.trimp)}}</mat-chip>
                                        </span>
                                        &nbsp;
                                        {{duration(activity.moving_time/60)}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <b>{{activity.name}}</b>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                            <app-heart-graph [activity]="activity"></app-heart-graph>

                            <br/>
                            <table>
                                <tr>
                                    <td style="display: flex; justify-content: flex-end">Total time</td>
                                    <td><b>{{duration(activity.moving_time/60)}}</b></td>
                                    <td style="display: flex; justify-content: flex-end">Distance</td>
                                    <td><b>{{round(activity.distance/1000)}} km</b></td>
                                    <td style="display: flex; justify-content: flex-end">Elevation</td>
                                    <td><b>{{round(activity.total_elevation_gain)}} m</b></td>
                                </tr>
                                <tr *ngIf="activity.elapsed_time != activity.moving_time">
                                    <td style="display: flex; justify-content: flex-end"><i>Idle time</i></td>
                                    <td><b><i>{{duration((activity.elapsed_time - activity.moving_time)/60)}}</i></b></td>
                                    <td style="display: flex; justify-content: flex-end">Moving time</td>
                                    <td><b>{{duration((activity.elapsed_time)/60)}}</b></td>
                                </tr>
                                <tr>
                                    <td style="display: flex; justify-content: flex-end"><span class="material-symbols-outlined">local_pizza</span> Energy</td>
                                    <td><b>{{round(activity.kcal)}} kcal</b></td>
                                    <td style="display: flex; justify-content: flex-end"><span class="material-symbols-outlined">ecg_heart</span> Average Heart Rate</td>
                                    <td > <mat-chip style="background: {{getBackgroundHR(activity.average_heartrate)}}; width: 50px" layout-align="center">
                                        {{round(activity.average_heartrate)}}</mat-chip> &nbsp; <b>bpm</b>
                                    </td>
                                    <td style="display: flex; justify-content: flex-end"><span class="material-symbols-outlined">ecg_heart</span> Max Heart Rate</td>
                                    <td >
                                        <mat-chip style="background: {{getBackgroundHR(activity.max_heartrate)}}; width: 50px" layout-align="center">
                                            {{round(activity.max_heartrate)}}</mat-chip> &nbsp; <b>bpm</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="display: flex; justify-content: flex-end"><span *ngIf="activity.trimp !== undefined">
                                    TRaining IMPulse (TRIMP)
                             </span></td>
                                    <td>
                                        <span *ngIf="activity.trimp !== undefined">
                                            <mat-chip style="background: {{getBackgroundTrimp(activity.trimp)}}; width: 50px" layout-align="center">
                                            {{round(activity.trimp)}}</mat-chip>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                            <br/>
                            </mat-expansion-panel>
                        </td>
                    </ng-container>




                    <tr mat-header-row *matHeaderRowDef="displayedColumnsHR; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsHR;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="7">No data matching the filter </td>
                    </tr>
                </table>
             </div>
                <mat-paginator #paginatorHR [pageSizeOptions]="[10,20]" showFirstLastButtons></mat-paginator>
                    </span>
        </mat-tab>
        <mat-tab *ngIf="hasPowerData" label="Power">
            <span *ngIf="selectedTabIndex !== undefined && selectedTabIndex === 2">
            <td-message
                    label="Information"
                    sublabel="For detailed breakdown of power data see power-meter.cc"
                    color="primary"
                    icon="info">
                <button td-message-actions mat-button (click)="viewPower()">Power-Meter.cc</button>
            </td-message>
            <app-summary-graph  [dayActivity]="activityArray" [zoneHR]="zoneHR" type="power"></app-summary-graph>
            <span *ngIf="stacked !== undefined && stacked.length>0" #containerRef>
                <h3>Power</h3>

                    <mat-expansion-panel *ngFor="let pie of stacked; let i = index" (opened)="pwrPanelOpenState[i] = true"
                                         (closed)="pwrPanelOpenState[i] = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Week {{pie.name}}
                            </mat-panel-title>
                            <mat-panel-description>
                                <span *ngIf="pie.pwr !== undefined">
                                Average Duration {{round(totalPie(pie.pwr)/getDays(pie.name))}} mins per day. Average TSS {{getAvg(pie.name,'tss')}} score
                                </span>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                           <span *ngIf="pie.pwr !== undefined && pwrPanelOpenState[i]">
                               <app-pie-chart-plus
                                           [view]="[containerRef.offsetWidth, 200]"
                                           [columns]="7"
                                           [scheme]="colorFTP"
                                           label="Exercise duration (min) - Power Zone"
                                           unit="min"
                                           [results]="pie.pwr"
                                   >
                                </app-pie-chart-plus>
                           </span>
                    </mat-expansion-panel>

            </span>
            <h3>Activity Logs</h3>
            <div>
            <table mat-table [dataSource]="dataSourceKJ" class="mat-elevation-z8"
                   matSort #pwrSort="matSort" (matSortChange)="announceSortChange($event)"
                   matSortActive="date" matSortDirection="desc" matSortDisableClear>

                <ng-container matColumnDef="dateo">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let activity">

                        <div layout="column" layout-align="space-around start">
                            <b>{{activity.start_date | date: 'dd-MMM-yyyy HH:mm'}}</b>

                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef > Date </th>
                    <td mat-cell *matCellDef="let activity">
                        <mat-expansion-panel [expanded]="false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <a *ngIf="activity.type !== undefined" mat-icon-button color="primary" href="https://www.strava.com/activities/{{activity.id}}" target="_blank">
                                        <span class="material-symbols-outlined">{{getType(activity.type)}}</span>
                                    </a>
                                    {{getWeekNumberD(activity.start_date)}}&nbsp; <b>{{activity.start_date | date: 'dd-MMM-yyyy HH:mm'}}</b>
                                    &nbsp;
                                    <mat-chip style="background: {{getBackgroundTSS(activity)}}; width: 50px" matTooltip="< 150 recovery under a day.
                                     < 300 recovered by 2nd day.
                                     < 450 recovered after the 2nd day.
                                     > 450 recovery may be longer.">
                                        {{stressTraining(activity)}}</mat-chip>
                                    &nbsp;
                                    {{duration(activity.moving_time/60)}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    <b>{{activity.name}}</b>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                        <app-power-graph [activity]="activity"></app-power-graph>
                        <br/>
                        <table>
                            <tr>
                                <td style="display: flex; justify-content: flex-end">Total time</td>
                                <td><b>{{duration(activity.moving_time/60)}}</b></td>
                                <td style="display: flex; justify-content: flex-end">Distance</td>
                                <td><b>{{round(activity.distance/1000)}} km</b></td>
                                <td style="display: flex; justify-content: flex-end">Elevation</td>
                                <td><b>{{round(activity.total_elevation_gain)}} m</b></td>
                            </tr>
                            <tr *ngIf="activity.elapsed_time != activity.moving_time">
                                <td><i>Idle time</i></td>
                                <td><b><i>{{duration((activity.elapsed_time - activity.moving_time)/60)}}</i></b></td>

                                <td style="display: flex; justify-content: flex-end">Moving time</td>
                                <td><b>{{duration((activity.elapsed_time)/60)}}</b></td>
                            </tr>
                            <tr>
                                <td style="display: flex; justify-content: flex-end"><span class="material-symbols-outlined">local_pizza</span> Energy</td>
                                <td><b>{{round(activity.kcal)}} kcal</b></td>
                                <td style="display: flex; justify-content: flex-end"><span class="material-symbols-outlined">ecg_heart</span> Avg. Heart Rate</td>
                                <td >  <mat-chip style="background: {{getBackgroundHR(activity.average_heartrate)}}; width: 50px" layout-align="center">
                                    {{round(activity.average_heartrate)}}</mat-chip> &nbsp; <b>bpm</b>

                                </td>
                                <td style="display: flex; justify-content: flex-end"><span class="material-symbols-outlined">ecg_heart</span> Max. Heart Rate</td>
                                <td >
                                    <mat-chip style="background: {{getBackgroundHR(activity.max_heartrate)}}; width: 50px" layout-align="center">
                                        {{round(activity.max_heartrate)}}</mat-chip> &nbsp; <b>bpm</b>
                                </td>
                            </tr>
                            <tr *ngIf="activity.weighted_average_watts !== undefined">
                                <td style="display: flex; justify-content: flex-end"><span class="material-symbols-outlined">bolt</span>
                                    Average Power</td>
                                <td><b>
                                    {{round(activity.weighted_average_watts)}}
                                    Watts</b>
                                </td>
                                <td style="display: flex; justify-content: flex-end">
                                    Intensity
                                </td>
                                <td>
                                    <b>{{intensity(activity)}}%</b>
                                </td>
                                <td style="display: flex; justify-content: flex-end">
                                    Training Load
                                </td>
                                <td>
                                    <b>{{stress(activity)}}</b>
                                </td>
                            </tr>
                            <tr *ngIf="activity.np !== undefined">
                                <td style="display: flex; justify-content: flex-end" [matTooltip]="registered"><span class="material-symbols-outlined">bolt</span>
                                    Normalized Power®</td>
                                <td><mat-chip style="background: {{getBackgroundPWRColor(activity.np)}}; width: 50px" layout-align="center">
                                    {{round(activity.np)}}
                                </mat-chip>
                                    &nbsp;<b>Watts</b>
                                </td>
                                <td style="display: flex; justify-content: flex-end" [matTooltip]="registered">
                                    Intensity Factor®
                                </td>
                                <td>
                                    <b>{{intensityFactor(activity)}}%</b>
                                </td>
                                <td style="display: flex; justify-content: flex-end" [matTooltip]="registered">
                                    Training Stress
                                </td>
                                <td>
                                    <mat-chip style="background: {{getBackgroundTSS(activity)}}; width: 50px" matTooltip="< 150 recovery under a day.
                                     < 300 recovered by 2nd day.
                                     < 450 recovered after the 2nd day.
                                     > 450 recovery may be longer.">
                                        {{stressTraining(activity)}}</mat-chip>
                                </td>
                            </tr>
                            <tr *ngIf="activity !== undefined ">
                                <td style="display: flex; justify-content: flex-end"><span *ngIf="activity.average_cadence !== undefined">
                                    Cadence
                             </span></td>
                                <td>
                                        <span *ngIf="activity.average_cadence !== undefined">
                                        <b>{{round(activity.average_cadence)}} rpm</b>
                                        </span>
                                </td>
                                <td></td>
                                <td></td>
                                <td style="display: flex; justify-content: flex-end">
                                    <span *ngIf="activity.np !== undefined" >Ride Variability Index</span></td>
                                <td>
                                    <span *ngIf="activity.np !== undefined"><b matTooltip="This is measure of how smooth the ride was. A value close to 1 is consistent riding with low variation of power output which you would get on Zwift or a flat ride. Rolling terrain, hills or a inconsistent ride (stopping for traffic) will create more variability.">{{round(activity.np * 100/ activity.average_watts)/100}}</b></span>
                                </td>
                            </tr>
                        </table>
                        <br/>
                        </mat-expansion-panel>
                    </td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsKJ; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsKJ;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="7">No data matching the filter </td>
                </tr>
            </table>
            </div>
            <mat-paginator #paginatorKJ [pageSizeOptions]="[10,20]" showFirstLastButtons></mat-paginator>
            </span>
        </mat-tab>

    </mat-tab-group>


    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="download()">Discuss/Download as HL7 FHIR</button>
    </mat-card-actions>

</mat-card>
        </mat-sidenav-content>
</mat-sidenav-container>

