<div #containerRef>
    <h3>Sleep and Steps</h3>
        <span *ngIf="sleepData.length > 0 && sleepData[0].data != undefined && sleepData[0].data.length > 1">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Sleep Average Heart Rate - &nbsp;<b>{{round(getLastE(sleepData[1].data))}} bpm</b>. HRV &nbsp;<b>{{round(getLastE(sleepData[0].data))}}</b>
                </mat-panel-title>
                <mat-panel-description>
                     <span *ngIf="referenceLines.length > 1">
                         <span *ngIf="(round(getLastE(sleepData[0].data)) - referenceLines[1].value) < epr.hrvWarnLow">
                            <button mat-flat-button [ngStyle]="getWarning()">Low HRV</button>
                         </span>
                          <span *ngIf="(round(getLastE(sleepData[0].data)) - referenceLines[1].value) > epr.hrvRested">
                            <button mat-flat-button [ngStyle]="getOK()">Rested (HRV)</button>
                         </span>
                         <span *ngIf="(round(getLastE(sleepData[1].data)) - referenceLines[0].value) > epr.hrWarnHigh">
                            <button mat-flat-button [ngStyle]="getWarning()">High HR</button>
                         </span>
                          <span *ngIf="(round(getLastE(sleepData[1].data)) - referenceLines[0].value) < epr.hrRested">
                            <button mat-flat-button [ngStyle]="getOK()">Rested (HR)</button>
                         </span>
                         Average Heart Rate {{getAvgE(sleepData[1].data)}} Average HRV {{getAvgE(sleepData[0].data)}}
                     </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-scatter-graph [setData]="sleepData" [yMin]="getMin(sleepData)"></app-scatter-graph>
        </mat-expansion-panel>
        </span>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Sleep Score - &nbsp;<b>{{round(getLast(sleepScoreData))}} %</b>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <span *ngIf="sleepScoreData.length > 0 && sleepScoreXAxis !== undefined">
                <app-stacked-chart [setData]="sleepScoreData" [xAxis]="sleepScoreXAxis"></app-stacked-chart>
            </span>
        </mat-expansion-panel>
</div>
