<div #containerRef>
    <h3>Sleep</h3>
    <ngx-charts-line-chart
            [view]="[containerRef.offsetWidth, 200]"
            [scheme]="colorSeries"

            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="showXAxis"
            [yScaleMin]="scaleMin"
            [yScaleMax]="scaleMax"
            [curve]="curve"
            [yAxis]="true"
            [legend]="true"
            xAxisLabel="Date"
            [timeline]="timeline"
            [results]="series"
    >
    </ngx-charts-line-chart>
 <!--
    <ngx-charts-line-chart
            [view]="[containerRef.offsetWidth, 200]"
            [scheme]="colorSeries2"

            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            xAxisLabel="Date"
            yAxisLabel="Average Heart Rate"
            [timeline]="timeline"
            [results]="seriesHR"
    >
    </ngx-charts-line-chart>
-->
    <ngx-charts-bar-vertical *ngIf="sleepScore !== undefined"
                             [view]="[containerRef.offsetWidth, 150]"
                             [scheme]="colorSleep"
                             [results]="sleepScore"
                             [gradient]="gradient"
                             [xAxis]="showXAxis"
                             [yAxis]="showYAxis"
                             [legend]="showLegend"
                             [showXAxisLabel]="showXAxisLabel"
                             [showYAxisLabel]="showYAxisLabel"

                             yAxisLabel="Sleep Score %"
                             [animations]="false"
    >

    </ngx-charts-bar-vertical>
<!--
    <ngx-charts-line-chart
            [view]="[containerRef.offsetWidth, 200]"
            [scheme]="colorSeries"

            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            xAxisLabel="Date"
            yAxisLabel="HRV"
            [timeline]="timeline"
            [results]="seriesHRV"
    >
    </ngx-charts-line-chart> -->
</div>
