<td-layout class="layout-nav-demo" sidenavWidth="280px">
    <td-navigation-drawer
            flex
            sidenavTitle="Demo"
    >
        <mat-nav-list>
            <a mat-list-item tdLayoutToggle routerLink="/person">
                User Settings
            </a>
            <a mat-list-item tdLayoutToggle routerLink="/summary">
                Summary
            </a>
            <a mat-list-item tdLayoutToggle routerLink="/nutrition">
                Nutrition
            </a>
            <a mat-list-item tdLayoutToggle routerLink="/bmi">
                Body Mass Index
            </a>
            <a mat-list-item tdLayoutToggle>
                <mat-icon matListItemIcon>close</mat-icon>
                Close
            </a>
        </mat-nav-list>
        <!--<div tdNavigationDrawerMenu>
            <mat-nav-list>
                <a mat-list-item>
                    <mat-icon matListItemIcon>account_box</mat-icon>
                    Profile
                </a>
            </mat-nav-list>
        </div> -->
    </td-navigation-drawer>
    <td-layout-nav
            [toolbarTitle]="pageName"
            navigationRoute="/"
    >
        <button mat-icon-button td-menu-button tdLayoutToggle>
            <mat-icon>menu</mat-icon>
        </button>
        <div td-toolbar-content layout-align="space-between center" flex>
            <div
                    flex
                    flex-order-xs="2"
                    layout="row"
                    layout-align="end center"
            >
                <mat-form-field subscriptSizing="dynamic">
                    <input matInput [matDatepicker]="picker" [(ngModel)]="endDate" (dateChange)="addEvent()">
                    <mat-label>Week Ending</mat-label>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button mat-icon-button><mat-icon>help</mat-icon></button>
            </div>

        </div>

        <router-outlet (activate)="event($event)"></router-outlet>
    </td-layout-nav>
</td-layout>
