<div #containerRef>
    <h3>Vitals</h3>
 <!--   <ngx-charts-box-chart
            [view]="[panelRef.offsetWidth, 200]"
            [scheme]="colorSeries"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="false"
            xAxisLabel="Date"
            yAxisLabel="Body Weight"
            [results]="bpSeries"
    >
    </ngx-charts-box-chart> -->
    <mat-accordion *ngIf="bpSeries != undefined && bpSeries[0].series != undefined && bpSeries[0].series.length > 1">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Blood Pressure - &nbsp;<b>{{round(getLast(bpSeries))}}/{{round(getLastSingle(bpSeries[1]))}} mmHg</b>
                </mat-panel-title>
                <mat-panel-description>
                     <span *ngIf="(getLast(bpSeries) > 135 || getLastSingle(bpSeries[1]) > 85)">
                            <button mat-flat-button color="accent">High</button>
                         </span>
                     <span *ngIf="(getLast(bpSeries) < 89 || getLastSingle(bpSeries[1]) < 59)">
                            <button mat-flat-button color="accent">Low</button>
                     </span>
                     <span *ngIf="bpReferenceLines.length > 1">
                         <span *ngIf="(getLastSingle(bpSeries[1])- bpReferenceLines[1].value > 5) || (getLast(bpSeries) - bpReferenceLines[0].value > 5)">
                            <button mat-flat-button color="accent">Overtraining?</button>
                         </span>
                         Average Blood Pressure {{bpReferenceLines[0].value}}/{{bpReferenceLines[1].value}} mmHg
                     </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
                <ngx-charts-line-chart
                        [view]="[containerRef.offsetWidth, 250]"
                        [scheme]="colorSeries"

                        [showXAxisLabel]="false"
                        [showYAxisLabel]="true"
                        [xAxis]="true"
                        [curve]="curve"
                        [yAxis]="true"
                        [legend]="true"
                        [yScaleMin]="scaleMin"
                        [yScaleMax]="scaleMax"
                        [legendPosition]="legendPosition"
                        xAxisLabel="Date"
                        yAxisLabel="mmHg"
                        [referenceLines]="bpReferenceLines"
                        [showRefLines]="true"
                        [timeline]="timeline"
                        [results]="bpSeries"
                >
                </ngx-charts-line-chart>
                <!-- These breaks allow for legend display TODO -->
                <br/>
                <br/>
                <br/>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion *ngIf="hba1c != undefined && hba1c[0].series != undefined && hba1c[0].series.length > 1">
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Blood Glucose - &nbsp;<b>{{round2DP(getLastSingle(hba1c[0]))}} mmol</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ngx-charts-line-chart
                    [view]="[containerRef.offsetWidth, 250]"
                    [scheme]="colorSeries"
                    [showXAxisLabel]="false"
                    [showYAxisLabel]="true"
                    [xAxis]="true"
                    [curve]="curve"
                    [yAxis]="true"
                    [legend]="true"
                    [legendPosition]="legendPosition"
                    xAxisLabel="Date"
                    yAxisLabel="mmol"
                    [showRefLines]="false"
                    [timeline]="timeline"
                    [results]="hba1c"
            >
            </ngx-charts-line-chart>
            <br/>
            <br/>
            <br/>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion *ngIf="spo2 != undefined && spo2[0].series != undefined && spo2[0].series.length > 1">
    <mat-expansion-panel >
        <mat-expansion-panel-header>
            <mat-panel-title>
                SPO2 - Min &nbsp;<b>{{getLastSingle(spo2[1])}} </b> &nbsp;Max &nbsp;<b>{{getLastSingle(spo2[2])}} %</b>
            </mat-panel-title>
           <mat-panel-description>
                Last Daily Average &nbsp;<b>{{round1DP(getLast(spo2))}} %</b>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ngx-charts-line-chart
                [view]="[containerRef.offsetWidth, 250]"
                [scheme]="colorSeries"

                [showXAxisLabel]="false"
                [showYAxisLabel]="true"
                [xAxis]="true"
                [curve]="curve"
                [yAxis]="true"
                [legend]="true"
                [yScaleMin]="spo2Min"
                [yScaleMax]="spo2Max"
                [legendPosition]="legendPosition"
                xAxisLabel="Date"
                yAxisLabel="%"
                [showRefLines]="true"
                [timeline]="timeline"
                [results]="spo2"
        >
        </ngx-charts-line-chart>
        <!-- These breaks allow for legend display TODO -->
        <br/>
        <br/>
        <br/>
    </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion *ngIf="weights != undefined && weights[0].series != undefined && weights[0].series.length > 1">
        <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title >
                Weight - &nbsp;<b>{{round1DP(getLast(weights))}} Kg</b>
            </mat-panel-title>
            <mat-panel-description>
                <span *ngIf="weightReferenceLines.length > 0">
                         <span *ngIf="(getLast(weights) - weightReferenceLines[0].value) > epr.weightWarnHigh">
                            <button mat-flat-button [ngStyle]="{'background':'lightgreen'}">Full</button>
                         </span>
                          <span *ngIf="(getLast(weights) - weightReferenceLines[0].value) < epr.weightWarnLow">
                            <button mat-flat-button color="accent">Refuel & Drink</button>
                         </span>
                         Average Weight {{round1DP(weightReferenceLines[0].value)}} Kg
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>
            <div #panelRef>
            <ngx-charts-line-chart
                    [view]="[panelRef.offsetWidth, 200]"
                    [scheme]="colorSeries"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="true"
                    [yAxis]="true"
                    [curve]="curve"
                    [yScaleMin]="weightMin"
                    [yScaleMax]="weightMax"
                    [legend]="false"
                    xAxisLabel="Date"
                    yAxisLabel="Body Weight"
                    [timeline]="timeline"
                    [results]="weights"
                    [referenceLines]="weightReferenceLines"
                    [showRefLines]="true"
            >
            </ngx-charts-line-chart>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Fat Mass - &nbsp;<b>{{round1DP(getLast(fats))}} Kg ({{round1DP(getLast(fats) * 100 / getLast(weights))}} %)</b>
                </mat-panel-title>
                <mat-panel-description>
                      <span *ngIf="fatsReferenceLines.length > 0">
                         Average Fat Mass {{round1DP(fatsReferenceLines[0].value)}} Kg
                </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div #panelRef>
            <ngx-charts-line-chart
                    [view]="[panelRef.offsetWidth, 200]"
                    [scheme]="colorSeries"
                    [curve]="curve"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="true"
                    [yAxis]="true"
                    [yScaleMin]="fatMin"
                    [yScaleMax]="fatMax"
                    [legend]="false"
                    xAxisLabel="Date"
                    yAxisLabel="Fat Mass"
                    [timeline]="timeline"
                    [results]="fats"
                    [referenceLines]="fatsReferenceLines"
                    [showRefLines]="true"
            >
            </ngx-charts-line-chart>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Muscle Mass - &nbsp;<b>{{round1DP(getLast(muscle))}} Kg ({{round1DP(getLast(muscle) * 100 / getLast(weights))}} %)</b>
                </mat-panel-title>
                <mat-panel-description>
                      <span *ngIf="muscleReferenceLines.length > 0">
                           <span *ngIf="(getLast(muscle) - muscleReferenceLines[0].value) < epr.muscleWarnLow">
                            <button mat-flat-button color="accent">Check Carbs Intake</button>
                         </span>
                         Average Muscle Mass {{round1DP(muscleReferenceLines[0].value)}} Kg
                    </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div #panelRef>
            <ngx-charts-line-chart
                    [view]="[panelRef.offsetWidth, 200]"
                    [scheme]="colorSeries"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [curve]="curve"
                    [xAxis]="true"
                    [yAxis]="true"
                    [yScaleMin]="muscleMin"
                    [yScaleMax]="muscleMax"
                    [legend]="false"
                    xAxisLabel="Date"
                    yAxisLabel="Muscle Mass"
                    [timeline]="timeline"
                    [results]="muscle"
                    [referenceLines]="muscleReferenceLines"
                    [showRefLines]="true"
            >
            </ngx-charts-line-chart>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Body Water - &nbsp;<b>{{round1DP(getLast(hydration))}} Kg ({{round1DP(getLast(hydration) * 100 / getLast(weights))}} %)</b>
                </mat-panel-title>
                <mat-panel-description>
                      <span *ngIf="hydrationReferenceLines.length > 0">
                           <span *ngIf="(getLast(hydration) - hydrationReferenceLines[0].value) > epr.hydratedWarnHigh">
                            <button mat-flat-button [ngStyle]="{'background':'lightgreen'}">Hydrated</button>
                         </span>
                          <span *ngIf="(getLast(hydration) - hydrationReferenceLines[0].value) < epr.hydratedWarnLow">
                            <button mat-flat-button color="accent">Dehydrated</button>
                         </span>
                         Average Body Water {{round1DP(hydrationReferenceLines[0].value)}} Kg
                </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div #panelRef>
            <ngx-charts-line-chart
                    [view]="[panelRef.offsetWidth, 200]"
                    [scheme]="colorSeries"

                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="true"
                    [yAxis]="true"
                    [curve]="curve"
                    [yScaleMin]="hydrationMin"
                    [yScaleMax]="hydrationMax"
                    [legend]="false"
                    xAxisLabel="Date"
                    yAxisLabel="Body Water"
                    [timeline]="timeline"
                    [results]="hydration"
                    [referenceLines]="hydrationReferenceLines"
                    [showRefLines]="true"
            >
            </ngx-charts-line-chart>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Bone Mass - &nbsp;<b>{{round2DP(getLast(bone))}} Kg ({{round2DP(getLast(bone) * 100 / getLast(bone))}} %)</b>
                </mat-panel-title>
                <mat-panel-description>
                      <span *ngIf="boneReferenceLines.length > 0">
                         Average Bone Mass {{round2DP(boneReferenceLines[0].value)}} Kg
                </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div #panelRef>
                <ngx-charts-line-chart
                        [view]="[panelRef.offsetWidth, 200]"
                        [scheme]="colorSeries"
                        [curve]="curve"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="true"
                        [yAxis]="true"
                        [yScaleMin]="boneMin"
                        [yScaleMax]="boneMax"
                        [legend]="false"
                        xAxisLabel="Date"
                        yAxisLabel="Bone Mass"
                        [timeline]="timeline"
                        [results]="bone"
                        [referenceLines]="boneReferenceLines"
                        [showRefLines]="true"
                >
                </ngx-charts-line-chart>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
