<div #containerRef>
    <h3>Weight</h3>
    <mat-accordion>
        <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Weight - {{getLast(weights)}} Kg
            </mat-panel-title>
            <mat-panel-description>
                <table>
                    <tr>
                        <td> Average {{round2DP(avgWeight)}} Kg </td>
                        <td> Difference {{round2DP(getLast(weights) - avgWeight)}} Kg </td>
                    </tr>
                </table>
            </mat-panel-description>
        </mat-expansion-panel-header>
            <div #panelRef>
            <ngx-charts-line-chart
                    [view]="[panelRef.offsetWidth, 200]"
                    [scheme]="colorSeries"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="true"
                    [yAxis]="true"
                    [curve]="curve"
                    [yScaleMin]="weightMin"
                    [yScaleMax]="weightMax"
                    [legend]="false"
                    xAxisLabel="Date"
                    yAxisLabel="Body Weight"
                    [timeline]="timeline"
                    [results]="weights"
            >
            </ngx-charts-line-chart>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Fat Mass - {{getLast(fats)}} Kg ({{round1DP(getLast(fats) * 100 / getLast(weights))}} %)
                </mat-panel-title>
                <mat-panel-description>
                    <table>
                        <tr>
                            <td> Average {{round2DP(avgFat)}} Kg </td>
                            <td> Difference {{round2DP(getLast(fats) - avgFat)}} Kg </td>
                        </tr>
                    </table>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div #panelRef>
            <ngx-charts-line-chart
                    [view]="[panelRef.offsetWidth, 200]"
                    [scheme]="colorSeries"

                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="true"
                    [yAxis]="true"
                    [yScaleMin]="fatMin"
                    [yScaleMax]="fatMax"
                    [legend]="false"
                    xAxisLabel="Date"
                    yAxisLabel="Fat Mass"
                    [timeline]="timeline"
                    [results]="fats"
            >
            </ngx-charts-line-chart>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Muscle Mass - {{getLast(muscle)}} Kg ({{round1DP(getLast(muscle) * 100 / getLast(weights))}} %)
                </mat-panel-title>
                <mat-panel-description>
                    <table>
                        <tr>
                            <td> Average {{round2DP(avgMuscle)}} Kg </td>
                            <td> Difference {{round2DP(getLast(muscle) - avgMuscle)}} Kg </td>
                        </tr>
                    </table>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div #panelRef>
            <ngx-charts-line-chart
                    [view]="[panelRef.offsetWidth, 200]"
                    [scheme]="colorSeries"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="true"
                    [yAxis]="true"
                    [yScaleMin]="muscleMin"
                    [yScaleMax]="muscleMax"
                    [legend]="false"
                    xAxisLabel="Date"
                    yAxisLabel="Muscle Mass"
                    [timeline]="timeline"
                    [results]="muscle"
            >
            </ngx-charts-line-chart>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Body Water - {{getLast(hydration)}} Kg ({{round1DP(getLast(hydration) * 100 / getLast(weights))}} %)
                </mat-panel-title>
                <mat-panel-description>
                    <table>
                        <tr>
                        <td> Average {{round2DP(avgHydration)}} Kg </td>
                        <td> Difference {{round2DP(getLast(hydration) - avgHydration)}} Kg </td>
                        </tr>
                    </table>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div #panelRef>
            <ngx-charts-line-chart
                    [view]="[panelRef.offsetWidth, 200]"
                    [scheme]="colorSeries"

                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="true"
                    [yAxis]="true"
                    [curve]="curve"
                    [yScaleMin]="hydrationMin"
                    [yScaleMax]="hydrationMax"
                    [legend]="false"
                    xAxisLabel="Date"
                    yAxisLabel="Body Water"
                    [timeline]="timeline"
                    [results]="hydration"
            >
            </ngx-charts-line-chart>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
