<div #containerRef>
    <span *ngIf="type ==='kcal'">
    <h4>Energy (kcal)</h4>
<ngx-charts-bar-vertical-stacked *ngIf="calories!==undefined"
                                 [view]="[containerRef.offsetWidth, 150]"
                         [scheme]="colorScheme"
                         [results]="calories"
                         [gradient]="gradient"
                         [xAxis]="showXAxis"
                         [yAxis]="showYAxis"
                         [legend]="showLegend"
                         [showXAxisLabel]="showXAxisLabel"
                         [showYAxisLabel]="showYAxisLabel"
                         [xAxisLabel]="xAxisLabel"
                         [yAxisLabel]="yAxisLabel"
                         (select)="onSelect($event)"
                            [animations]="false"
                                >
    <ng-template #tooltipTemplate let-model="model">
      <!--  {{model|json}} -->
        <b>Heart Rate Zone {{model.name}}</b>
        <br/>
        <br/>
        <span *ngFor="let pizza of pizza(model.value)">
                                      <span class="material-symbols-outlined">local_pizza</span>
                                 </span>
        <span class="material-symbols-outlined">local_pizza</span>
        {{model.value}} kcal
        <hr/>
        <span *ngIf="model.extra !== undefined && model.extra.session !== undefined">
            Activities
            <hr/>
            <span *ngFor="let act of model.extra.session">

                     <span *ngIf="act.type !== undefined" class="material-symbols-outlined">
                     {{getType(act.type)}}
                     </span> {{act.name}}
                    <br/>
                    <span class="material-symbols-outlined">
                        ecg_heart
                    </span> avg {{act.activity.average_heartrate}} beats/min
                <br/>
                    <span class="material-symbols-outlined">
                                             timer
                                             </span>
                    {{duration(act.activity.elapsed_time/60)}}
                    <hr/>
                </span>
        </span>

    </ng-template>
</ngx-charts-bar-vertical-stacked>
        </span>
    <span *ngIf="type ==='heart'">
    <h4>Heart Rate Stress Scores (TRIMP)</h4>
    <ngx-charts-bar-vertical *ngIf="trimp!==undefined"
                             [view]="[containerRef.offsetWidth, 150]"
                             [scheme]="colorNeutral"
                             [results]="trimp"
                             [gradient]="gradient"
                             [xAxis]="showXAxis"
                             [yAxis]="showYAxis"
                             [legend]="showLegend"
                             [showXAxisLabel]="showXAxisLabel"
                             [showYAxisLabel]="showYAxisLabel"
                             [xAxisLabel]="xAxisLabel"
                             yAxisLabel="TRIMP"
                             (select)="onSelect($event)"
                             [animations]="false"
    >

    </ngx-charts-bar-vertical>
    </span>
    <span *ngIf="type ==='power'">
    <h5>Power Stress Score</h5>
    <ngx-charts-bar-vertical *ngIf="tss!==undefined"
                             [view]="[containerRef.offsetWidth, 150]"
                             [scheme]="colorNeutral"
                             [results]="tss"
                             [gradient]="gradient"
                             [xAxis]="showXAxis"
                             [yAxis]="showYAxis"
                             [legend]="showLegend"
                             [showXAxisLabel]="showXAxisLabel"
                             [showYAxisLabel]="showYAxisLabel"
                             [xAxisLabel]="xAxisLabel"
                             yAxisLabel="TSS"
                             (select)="onSelect($event)"
                             [animations]="false"
    >

    </ngx-charts-bar-vertical>
    </span>
</div>
