<div #containerRef>
    <span *ngIf="type ==='kcal'">
    <h3>Energy (kcal)</h3>
         <span *ngIf="caloriesData !== undefined && XAxis !== undefined">
             <app-stacked-chart [setData]="caloriesData" [xAxis]="XAxis" [yAxis]="yAxis"></app-stacked-chart>
         </span>
            <br/>
        <br/>
        <br/>
        </span>
    <span *ngIf="type ==='heart'">
    <h4>Heart Rate Stress Scores (TRIMP)</h4>
    <span *ngIf="trimpData !== undefined && XAxis !== undefined">
         <app-stacked-chart [setData]="trimpData" [xAxis]="XAxis" [yAxis]="yAxis"></app-stacked-chart>
    </span>

    </span>
    <span *ngIf="type ==='power'">
    <h5>Power Stress Score</h5>
            <span *ngIf="tssData !== undefined && XAxis !== undefined">
         <app-stacked-chart [setData]="tssData" [xAxis]="XAxis" [yAxis]="yAxis" ></app-stacked-chart>
    </span>
    </span>
</div>
