<h4>Daily Average (per week)</h4>
<ngx-charts-bar-vertical *ngIf="single!==undefined"
                                 [view]="viewSingle"
                                 [scheme]="colorSingle"
                                 [results]="single"
                                 [gradient]="gradient"
                                 [xAxis]="showXAxis"
                                 [yAxis]="showYAxis"
                                 [legend]="showLegend"
                                 [showXAxisLabel]="showXAxisLabel"
                                 [showYAxisLabel]="showYAxisLabel"
                                 [xAxisLabel]="xAxisLabel"
                                 [yAxisLabel]="yAxisLabel"
                                 (select)="onSelect($event)"
                                 [animations]="false"
                                 (window:resize)="onResize($event)">
    <ng-template #tooltipTemplate let-model="model">
          <span *ngFor="let pizza of pizza(model.value)">
                                      <span class="material-symbols-outlined">local_pizza</span>
                                 </span>
        <span class="material-symbols-outlined">local_pizza</span>
        {{model.value}} kcal
        <br/>
        <span class="material-symbols-outlined">timer</span> {{round(model.extra.wk.duration/(7*60))}} mins per day
    </ng-template>
</ngx-charts-bar-vertical>
<h4>Weekly Totals</h4>
<ngx-charts-bar-vertical-stacked *ngIf="stacked!==undefined"
                                 [view]="viewStacked"
                                 [scheme]="colorStacked"
                                 [results]="stacked"
                                 [gradient]="gradient"
                                 [xAxis]="showXAxis"
                                 [yAxis]="showYAxis"
                                 [legend]="showLegend"
                                 [showXAxisLabel]="showXAxisLabel"
                                 [showYAxisLabel]="showYAxisLabel"
                                 [xAxisLabel]="xAxisLabel"
                                 [yAxisLabel]="yAxisLabel"
                                 (select)="onSelect($event)"
                                 [animations]="false"
                                 (window:resize)="onResize($event)">
    <ng-template #tooltipTemplate let-model="model">
          <span *ngFor="let pizza of pizza(model.value)">
                                      <span class="material-symbols-outlined">local_pizza</span>
                                 </span>
        <span class="material-symbols-outlined">local_pizza</span>
        {{model.value}} kcal
        <br/>
        <span class="material-symbols-outlined">timer</span> {{round(model.extra.wk.duration/60)}} mins
        <br/>
        Activities {{model.extra.wk.num_activities}}
    </ng-template>
</ngx-charts-bar-vertical-stacked>
