.example-full-width {
  width: 100%;
}
.example-third-width {
  width: 30%;
}
.example-half-width {
  width: 30%;
}
table {
  width: 100%;
}

.example-form {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: flex-start;
}

.mat-grid-tile-content
{
  flex-direction: column;
}
