<h3>Week {{getWeekNum()}} {{getWeekDate() | date: 'dd-MMM-yyyy'}}</h3>
<ngx-charts-bar-vertical *ngIf="single !== undefined"
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
                            [yScaleMax]="yScaleMax"
        (select)="onSelect($event)"
        [animations]="false"
        (window:resize)="onResize($event)"
       >
       <ng-template #tooltipTemplate let-model="model">

             <span class="material-symbols-outlined">
                                             timer
                                             </span>
              {{duration(model.value)}}
              <br/>
              {{round(model.value * 100/totalTime)}} %
       </ng-template>
</ngx-charts-bar-vertical>

<!--
<ngx-charts-bar-vertical-2d
        [view]="view"
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)"
        [animations]="false"
        (window:resize)="onResize($event)"
       >
</ngx-charts-bar-vertical-2d> -->
