<div #containerRef id="containerRef">
    <span *ngIf="steps != undefined && steps[0].data != undefined && steps[0].data.length > 1">
    <mat-accordion >
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                     Steps
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-scatter-graph [setData]="steps" [yMin]="0" [yMax]="getMaxE(steps[0].data)" ></app-scatter-graph>
        </mat-expansion-panel>
    </mat-accordion>
    </span>
    <h3>Vitals</h3>
    <span *ngIf="bpSeries != undefined && bpSeries[0].data != undefined && bpSeries[0].data.length > 1">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Blood Pressure - &nbsp;<b>{{round(getLastE(bpSeries[0].data))}}/{{round(getLastE(bpSeries[1].data))}} mmHg</b>
                </mat-panel-title>
                <mat-panel-description>
                     <span *ngIf="(getLastE(bpSeries[0].data) > 135 || getLastE(bpSeries[1].data) > 85)">
                            <button mat-flat-button [ngStyle]="getWarning()">High</button>
                         </span>
                     <span *ngIf="(getLastE(bpSeries[0].data) < 89 || getLastE(bpSeries[1].data) < 59)">
                            <button mat-flat-button [ngStyle]="getWarning()">Low</button>
                     </span>

                     <span *ngIf="(getLastE(bpSeries[1].data)- getAvgE(bpSeries[1].data) > 5) || (getLastE(bpSeries[0].data) - getAvgE(bpSeries[0].data) > 5)">
                        <button mat-flat-button [ngStyle]="getInfo()">Overtraining?</button>
                     </span>
                     Average Blood Pressure {{round(getAvgE(bpSeries[0].data))}}/{{round(getAvgE(bpSeries[1].data))}} mmHg

                </mat-panel-description>
            </mat-expansion-panel-header>
              <app-scatter-graph [setData]="bpSeries" [yMin]="getMinE(bpSeries[1].data)" [yMax]="getMaxE(bpSeries[0].data)"></app-scatter-graph>
        </mat-expansion-panel>
    </span>
    <span *ngIf="hba1cData != undefined && hba1cData[0].data != undefined && hba1cData[0].data.length > 1">
        <mat-expansion-panel  >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Blood Glucose - &nbsp;<b>{{round2DP(getLastE(hba1cData[0].data))}} mmol</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
             <app-scatter-graph [setData]="hba1cData"></app-scatter-graph>

            <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>Blood Glucose Measurements
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="dataSourceHbA1c" class="mat-elevation-z8"
                       matSort #HbA1cSort="matSort" (matSortChange)="announceSortChange($event)"
                       matSortActive="date" matSortDirection="desc" matSortDisableClear>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 20%;"> Date </th>
                        <td mat-cell *matCellDef="let measurement">
                            <div layout="column" layout-align="space-around start">
                                {{measurement[0] | date: 'dd-MMM-yyyy'}}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Time </th>
                        <td mat-cell *matCellDef="let measurement">
                            <div layout="column" layout-align="space-around start">
                                {{measurement[0] | date: 'HH:mm'}}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="value">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef > Value </th>
                        <td mat-cell *matCellDef="let measurement">
                            <div layout="column" layout-align="space-around start">
                                {{round1DP(measurement[1])}}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="context">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef > Context </th>
                        <td mat-cell *matCellDef="let measurement">
                            <div layout="column" layout-align="space-around start">
                            <span *ngIf="getContext(measurement) !== undefined">
                                 <button mat-flat-button [ngStyle]="getInfo()">{{getContext(measurement)}}</button>
                            </span>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsHbA1c; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsHbA1c;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="7">No data matching the filter </td>
                    </tr>
                </table>
            </mat-expansion-panel>

        </mat-expansion-panel>
    </span>
    <span *ngIf="spo2Data != undefined && spo2Data[0].data != undefined && spo2Data[0].data.length > 1">
    <mat-expansion-panel (opened)="spo2PanelOpenState = true" (closed)="spo2PanelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                SPO2 - Min &nbsp;<b>{{getLastE(spo2Data[1].data)}} </b> &nbsp;Max &nbsp;<b>{{getLastE(spo2Data[2].data)}} %</b>
            </mat-panel-title>
           <mat-panel-description>
                Average &nbsp;<b>{{round1DP(getAvgE(spo2Data[0].data))}} %</b>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <span *ngIf="spo2PanelOpenState">
            <app-scatter-graph [setData]="spo2Data" [yMax]="spo2Max" [yMin]="spo2Min"></app-scatter-graph>
        </span>
    </mat-expansion-panel>
    </span>
    <span *ngIf="weightData != undefined && weightData[0].data != undefined && weightData[0].data.length > 1">
        <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title >
                Weight - &nbsp;<b>{{round1DP(getLastE(weightData[0].data))}} Kg</b>
            </mat-panel-title>
            <mat-panel-description>
                <span *ngIf="avgWeight > 0">
                         <span *ngIf="(getLastE(weightData[0].data) - avgWeight) > epr.weightWarnHigh">
                            <button mat-flat-button [ngStyle]="getOK()">Full</button>
                         </span>
                          <span *ngIf="(getLastE(weightData[0].data) - avgWeight) < epr.weightWarnLow">
                            <button mat-flat-button [ngStyle]="getWarning()">Refuel & Drink</button>
                         </span>
                         Average Weight {{round1DP(avgWeight)}} Kg
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>
            <app-scatter-graph [setData]="weightData" [yMax]="weightMax" [yMin]="weightMin"></app-scatter-graph>
        </mat-expansion-panel>
         <span *ngIf="bodyComposition != undefined && bodyComposition[0].data != undefined && bodyComposition[0].data.length > 1">
            <mat-expansion-panel (opened)="bodyPanelOpenState = true"
                                 (closed)="bodyPanelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Body Composition
                    </mat-panel-title>
                    <mat-panel-description>


                      <span *ngIf="bodyComposition != undefined && bodyComposition[2].data != undefined">
                           <span *ngIf="(getLastE(bodyComposition[2].data) - getAvgE(bodyComposition[2].data)) < epr.muscleWarnLow">
                            <button mat-flat-button [ngStyle]="getInfo()">Check Carbs Intake</button> Current Muscle Mass is {{round1DP( (getLastE(bodyComposition[2].data) - getAvgE(bodyComposition[2].data)))}} Kg less than average
                         </span>

                    </span>

                      <span *ngIf="bodyComposition != undefined && bodyComposition[3].data != undefined">
                           <span *ngIf="(getLastE(bodyComposition[3].data) - getAvgE(bodyComposition[3].data)) > epr.hydratedWarnHigh">
                            <button mat-flat-button [ngStyle]="getOK()">Hydrated</button>
                         </span>
                          <span *ngIf="(getLastE(bodyComposition[3].data) - getAvgE(bodyComposition[3].data)) < epr.hydratedWarnLow">
                            <button mat-flat-button [ngStyle]="getWarning()">Dehydrated</button> Current Body Water is {{round1DP( (getLastE(bodyComposition[3].data) - getAvgE(bodyComposition[3].data)))}} l less than average
                         </span>

                </span>

                    </mat-panel-description>
                </mat-expansion-panel-header>
                <span *ngIf="bodyPanelOpenState">
                     <app-line-chart [setData]="bodyComposition" [yAxis]="yAxisBodyComposition" height="600px"></app-line-chart>
                </span>
            </mat-expansion-panel>
         </span>
    </span>


</div>
