<div #containerRef id="containerRef">
    <span *ngIf="steps != undefined && steps.length > 1">
    <h3>Steps</h3>
    <mat-accordion >
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Steps
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <ngx-charts-bar-vertical
                                     [view]="[containerRef.offsetWidth, 150]"
                                     [results]="steps"
                                     [scheme]="colorNeutral"
                                     [gradient]="false"
                                     [xAxis]="true"
                                     [yAxis]="true"
                                     [legend]="false"
                                     [showXAxisLabel]="showXAxisLabel"
                                     [showYAxisLabel]="showYAxisLabel"
                                     yAxisLabel="Steps"
                                     [animations]="false"
            >
            </ngx-charts-bar-vertical>
        </mat-expansion-panel>
    </mat-accordion>
    </span>
    <h3>Vitals</h3>
    <span *ngIf="bpSeries != undefined && bpSeries[0].series != undefined && bpSeries[0].series.length > 1">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Blood Pressure - &nbsp;<b>{{round(getLast(bpSeries))}}/{{round(getLastSingle(bpSeries[1]))}} mmHg</b>
                </mat-panel-title>
                <mat-panel-description>
                     <span *ngIf="(getLast(bpSeries) > 135 || getLastSingle(bpSeries[1]) > 85)">
                            <button mat-flat-button [ngStyle]="getWarning()">High</button>
                         </span>
                     <span *ngIf="(getLast(bpSeries) < 89 || getLastSingle(bpSeries[1]) < 59)">
                            <button mat-flat-button [ngStyle]="getWarning()">Low</button>
                     </span>
                     <span *ngIf="bpReferenceLines.length > 1">
                         <span *ngIf="(getLastSingle(bpSeries[1])- bpReferenceLines[1].value > 5) || (getLast(bpSeries) - bpReferenceLines[0].value > 5)">
                            <button mat-flat-button [ngStyle]="getInfo()">Overtraining?</button>
                         </span>
                         Average Blood Pressure {{bpReferenceLines[0].value}}/{{bpReferenceLines[1].value}} mmHg
                     </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
                <ngx-charts-line-chart
                        [view]="[containerRef.offsetWidth, 250]"
                        [scheme]="colorSeries"

                        [showXAxisLabel]="false"
                        [showYAxisLabel]="true"
                        [xAxis]="true"
                        [curve]="curve"
                        [yAxis]="true"
                        [legend]="true"
                        [yScaleMin]="scaleMin"
                        [yScaleMax]="scaleMax"
                        [legendPosition]="legendPosition"
                        xAxisLabel="Date"
                        yAxisLabel="mmHg"
                        [referenceLines]="bpReferenceLines"
                        [showRefLines]="true"
                        [timeline]="timeline"
                        [results]="bpSeries"
                >
                    <ng-template #tooltipTemplate let-model="model">
             <span *ngIf="model !== undefined">
                    {{getTime(model)}}
                </span>
                        <ul>
                            <li><span style="color:#000;">{{model.series}} - {{round1DP(model.value)}}</span></li>
                        </ul>
                    </ng-template>
                    <ng-template #seriesTooltipTemplate let-model="model">
                    <span *ngIf="model !== undefined && model.length >0">
                    {{getTime(model[0])}}
                </span>
                        <ul>
                            <li *ngFor="let ent of model" [style]="getPointColour(ent)"><span style="color:#000;">{{ent.series}} - {{round1DP(ent.value)}}</span></li>
                        </ul>
                    </ng-template>
                </ngx-charts-line-chart>
                <!-- These breaks allow for legend display TODO -->
                <br/>
                <br/>
                <br/>
        </mat-expansion-panel>
    </span>
    <span *ngIf="hba1c != undefined && hba1c[0].series != undefined && hba1c[0].series.length > 1">
        <mat-expansion-panel  >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Blood Glucose - &nbsp;<b>{{round2DP(getLastSingle(hba1c[0]))}} mmol</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ngx-charts-line-chart
                    [view]="[containerRef.offsetWidth, 250]"
                    [scheme]="colorSeries"
                    [showXAxisLabel]="false"
                    [showYAxisLabel]="true"
                    [xAxis]="true"
                    [curve]="curve"
                    [yAxis]="true"
                    [legend]="true"
                    [legendPosition]="legendPosition"
                    xAxisLabel="Date"
                    yAxisLabel="mmol"
                    [showRefLines]="false"
                    [timeline]="timeline"
                    [results]="hba1c"
            >
                <ng-template #tooltipTemplate let-model="model">
             <span *ngIf="model !== undefined">
                    {{getTime(model)}}
                </span>
                    <ul>
                        <li><span style="color:#000;">{{model.series}} - {{round1DP(model.value)}}</span></li>
                    </ul>
                </ng-template>
                <ng-template #seriesTooltipTemplate let-model="model">
                    <span *ngIf="model !== undefined && model.length >0">
                    {{getTime(model[0])}}
                </span>
                    <ul>
                        <li *ngFor="let ent of model" [style]="getPointColour(ent)"><span style="color:#000;">{{ent.series}} - {{round1DP(ent.value)}}</span></li>
                    </ul>
                </ng-template>
            </ngx-charts-line-chart>
            <br/>
            <br/>
            <br/>
            <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>Blood Glucose Measurements
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="dataSourceHbA1c" class="mat-elevation-z8"
                       matSort #HbA1cSort="matSort" (matSortChange)="announceSortChange($event)"
                       matSortActive="date" matSortDirection="desc" matSortDisableClear>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 20%;"> Date </th>
                        <td mat-cell *matCellDef="let measurement">
                            <div layout="column" layout-align="space-around start">
                                {{measurement.name | date: 'dd-MMM-yyyy'}}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Time </th>
                        <td mat-cell *matCellDef="let measurement">
                            <div layout="column" layout-align="space-around start">
                                {{measurement.name | date: 'HH:mm'}}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="value">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef > Value </th>
                        <td mat-cell *matCellDef="let measurement">
                            <div layout="column" layout-align="space-around start">
                                {{round1DP(measurement.value)}}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="context">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef > Context </th>
                        <td mat-cell *matCellDef="let measurement">
                            <div layout="column" layout-align="space-around start">
                            <span *ngIf="getContext(measurement) !== undefined">
                                 <button mat-flat-button [ngStyle]="getInfo()">{{getContext(measurement)}}</button>
                            </span>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsHbA1c; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsHbA1c;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="7">No data matching the filter </td>
                    </tr>
                </table>
            </mat-expansion-panel>

        </mat-expansion-panel>
    </span>
    <span *ngIf="spo2 != undefined && spo2[0].series != undefined && spo2[0].series.length > 1">
    <mat-expansion-panel (opened)="spo2PanelOpenState = true" (closed)="spo2PanelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                SPO2 - Min &nbsp;<b>{{getLastSingle(spo2[1])}} </b> &nbsp;Max &nbsp;<b>{{getLastSingle(spo2[2])}} %</b>
            </mat-panel-title>
           <mat-panel-description>
                Last Daily Average &nbsp;<b>{{round1DP(getLast(spo2))}} %</b>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <span *ngIf="spo2PanelOpenState">
            <app-scatter-graph [setData]="spo2Data" [yMax]="spo2Max" [yMin]="spo2Min"></app-scatter-graph>
        </span>
    </mat-expansion-panel>
    </span>
    <span *ngIf="weights != undefined && weights[0].series != undefined && weights[0].series.length > 1">
        <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title >
                Weight - &nbsp;<b>{{round1DP(getLast(weights))}} Kg</b>
            </mat-panel-title>
            <mat-panel-description>
                <span *ngIf="weightReferenceLines.length > 0">
                         <span *ngIf="(getLast(weights) - weightReferenceLines[0].value) > epr.weightWarnHigh">
                            <button mat-flat-button [ngStyle]="getOK()">Full</button>
                         </span>
                          <span *ngIf="(getLast(weights) - weightReferenceLines[0].value) < epr.weightWarnLow">
                            <button mat-flat-button [ngStyle]="getWarning()">Refuel & Drink</button>
                         </span>
                         Average Weight {{round1DP(weightReferenceLines[0].value)}} Kg
                </span>
            </mat-panel-description>
        </mat-expansion-panel-header>
            <app-scatter-graph [setData]="weightData" [yMax]="weightMax" [yMin]="weightMin"></app-scatter-graph>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Body Composition
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
             <app-scatter-graph [setData]="weightData" [yMax]="muscleMax" [yMin]="boneMin" height="600px"></app-scatter-graph>

        </mat-expansion-panel>
    <!--    <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Muscle Mass - &nbsp;<b>{{round1DP(getLast(muscle))}} Kg ({{round1DP(getLast(muscle) * 100 / getLast(weights))}} %)</b>
                </mat-panel-title>
                <mat-panel-description>
                      <span *ngIf="muscleReferenceLines.length > 0">
                           <span *ngIf="(getLast(muscle) - muscleReferenceLines[0].value) < epr.muscleWarnLow">
                            <button mat-flat-button [ngStyle]="getInfo()">Check Carbs Intake</button>
                         </span>
                         Average Muscle Mass {{round1DP(muscleReferenceLines[0].value)}} Kg
                    </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
             <app-scatter-graph [setData]="weightData" [yMax]="muscleMax" [yMin]="muscleMin"></app-scatter-graph>

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Body Water - &nbsp;<b>{{round1DP(getLast(hydration))}} Kg ({{round1DP(getLast(hydration) * 100 / getLast(weights))}} %)</b>
                </mat-panel-title>
                <mat-panel-description>
                      <span *ngIf="hydrationReferenceLines.length > 0">
                           <span *ngIf="(getLast(hydration) - hydrationReferenceLines[0].value) > epr.hydratedWarnHigh">
                            <button mat-flat-button [ngStyle]="getOK()">Hydrated</button>
                         </span>
                          <span *ngIf="(getLast(hydration) - hydrationReferenceLines[0].value) < epr.hydratedWarnLow">
                            <button mat-flat-button [ngStyle]="getWarning()">Dehydrated</button>
                         </span>
                         Average Body Water {{round1DP(hydrationReferenceLines[0].value)}} Kg
                </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
             <app-scatter-graph [setData]="weightData" [yMax]="hydrationMax" [yMin]="hydrationMin"></app-scatter-graph>

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Bone Mass - &nbsp;<b>{{round2DP(getLast(bone))}} Kg</b>
                </mat-panel-title>
                <mat-panel-description>
                      <span *ngIf="boneReferenceLines.length > 0">
                         Average Bone Mass {{round2DP(boneReferenceLines[0].value)}} Kg
                </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
             <app-scatter-graph [setData]="weightData" [yMax]="boneMax" [yMin]="boneMin"></app-scatter-graph>

        </mat-expansion-panel>-->
    </span>


</div>
